@import "../../styles/colors.scss";
@import "../../styles/helpers.scss";

.steaking {
   &__layout {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;
      
      margin-bottom: vw(64px, 360px);

      @media screen and (min-width: 360px) {
         margin-bottom: v64px;
      }

      @media screen and (min-width: 500px) {
         margin-bottom: vw(64px, 360px);
      }

      @media screen and (min-width: 920px) {
         margin-bottom: vw(100px);
      }

      @media screen and (min-width: 1600px) {
         margin-bottom: 100px;
      }
   }

   &__content {
      color: $white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      
      margin-bottom: vw(40px, 360px);
      gap: vw(40px, 360px);

      @media screen and (min-width: 360px) {
         margin-bottom: 40px;
         gap: 40px;
      }

      @media screen and (min-width: 500px) {
         margin-bottom: vw(40px, 360px);
         gap: vw(40px, 360px);
      }

      @media screen and (min-width: 920px) {
         align-items: flex-end;
         flex-direction: row;
         margin-bottom: vw(40px);
         gap: 0px;
      }

      @media screen and (min-width: 1600px) {
         margin-bottom: 40px;
      }
   }

   &__contentLeft {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: stretch;

      gap: vw(24px, 360px);
      
      @media screen and (min-width: 360px) {
         gap: 24px;
      }

      @media screen and (min-width: 500px) {
         gap: vw(24px, 360px);
      }

      @media screen and (min-width: 920px) {
         gap: vw(24px);
      }

      @media screen and (min-width: 1600px) {
         gap: 24px;
      }
   }

   &__contentRight {
      width: 100%;
      display: flex;
      flex-direction: column;

      gap: vw(30px, 360px);

      @media screen and (min-width: 360px) {
         gap: 30px;
      }

      @media screen and (min-width: 500px) {
         gap: vw(30px, 360px);
      }

      @media screen and (min-width: 920px) {
         width: auto;
         gap: vw(30px);
      }

      @media screen and (min-width: 1600px) {
         gap: 30px;
      }
   }

   &__contentCard {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background: $background;
      border: solid $accent;

      border-radius: vw(10px, 360px);
      border-width: vw(2px, 360px);
      gap: vw(14px, 360px);
      padding: vw(24px, 360px);

      @media screen and (min-width: 360px) {
         border-radius: 10px;
         border-width: 2px;
         gap: 14px;
         padding: 24px;
      }

      @media screen and (min-width: 500px) {
         border-radius: vw(10px, 360px);
         border-width: vw(2px, 360px);
         gap: vw(14px, 360px);
         padding: vw(24px, 360px);
      }

      @media screen and (min-width: 920px) {
         border-radius: vw(10px);
         border-width: vw(2px);
         gap: vw(14px);
         padding: vw(24px);
      }

      @media screen and (min-width: 1600px) {
         border-radius: 10px;
         border-width: 2px;
         gap: 14px;
         padding: 24px;
      }
   }

   &__contentCardTitle {
      color: $white;
      font-weight: 400;
      text-transform: uppercase;

      font-size: vw(18px, 360px);
      line-height: vw(18px, 360px);

      @media screen and (min-width: 360px) {
         font-size: 18px;
         line-height: 18px;
      }

      @media screen and (min-width: 500px) {
         font-size: vw(18px, 360px);
         line-height: vw(18px, 360px);
      }

      @media screen and (min-width: 920px) {
         font-size: vw(18px);
         line-height: vw(18px);
      }

      @media screen and (min-width: 1600px) {
         font-size: 18px;
         line-height: 18px;
      }
   }

   &__contentCardData {
      width: 100%;
      color: $accent;
      display: flex;
      align-items: center;
      justify-content: space-between;

      gap: vw(14px, 360px);

      @media screen and (min-width: 360px) {
         gap: 14px;
      }

      @media screen and (min-width: 500px) {
         gap: vw(14px, 360px);
      }

      @media screen and (min-width: 920px) {
         gap: vw(14px);
      }

      @media screen and (min-width: 1600px) {
         gap: 14px;
      }
   }

   &__contentCardText {
      font-weight: 600;

      font-size: vw(18px, 360px);
      line-height: vw(18px, 360px);

      @media screen and (min-width: 360px) {
         font-size: 18px;
         line-height: 18px;
      }

      @media screen and (min-width: 500px) {
         font-size: vw(18px, 360px);
         line-height: vw(18px, 360px);
      }

      @media screen and (min-width: 920px) {
         font-size: vw(18px);
         line-height: vw(18px);
      }

      @media screen and (min-width: 1600px) {
         font-size: 18px;
         line-height: 18px;
      }
   }

   &__contentCardButton {
      border-color: $accent;
      color: $accent;
   }
   
   &__title {
      font-family: Rubik;
      font-weight: 600;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
      
      font-size: vw(24px, 360px);
      line-height: vw(28px, 360px);
      
      @media screen and (min-width: 360px) {
         font-size: 24px;
         line-height: 28px;
      }

      @media screen and (min-width: 500px) {
         font-size: vw(24px, 360px);
         line-height: vw(28px, 360px);
      }

      @media screen and (min-width: 920px) {
         font-size: vw(24px);
         line-height: vw(28px);
      }

      @media screen and (min-width: 1600px) {
         font-size: 24px;
         line-height: 28px;
      }
   }

   &__titleMobDrop {
      @media screen and (min-width: 920px) {
         display: none;
      }
   }

   &__subtext {
      font-family: Rubik;
      font-weight: 400;
      letter-spacing: 0em;
      text-align: left;
      
      font-size: vw(24px, 360px);
      line-height: vw(28px, 360px);
      
      @media screen and (min-width: 360px) {
         font-size: 24px;
         line-height: 28px;
      }

      @media screen and (min-width: 500px) {
         font-size: vw(24px, 360px);
         line-height: vw(28px, 360px);
      }

      @media screen and (min-width: 920px) {
         font-size: vw(24px);
         line-height: vw(28px);
      }

      @media screen and (min-width: 1600px) {
         font-size: 24px;
         line-height: 28px;
      }

      &_magenta {
         color: $accent;
      }

      &_small {
         text-transform: none;
         font-size: vw(18px, 360px);
         line-height: vw(21px, 360px);
         
         @media screen and (min-width: 360px) {
            font-size: 18px;
            line-height: 21px;
         }
   
         @media screen and (min-width: 500px) {
            font-size: vw(18px, 360px);
            line-height: vw(21px, 360px);
         }
   
         @media screen and (min-width: 920px) {
            font-size: vw(18px);
            line-height: vw(21px);
         }
   
         @media screen and (min-width: 1600px) {
            font-size: 18px;
            line-height: 21px;
         }
      }
   }

   &__text {
      font-family: Rubik;
      font-weight: 400;
      letter-spacing: 0em;
      text-align: left;

      font-size: vw(24px, 360px);
      line-height: vw(28px, 360px);
      
      @media screen and (min-width: 360px) {
         font-size: 24px;
         line-height: 28px;
      }

      @media screen and (min-width: 500px) {
         font-size: vw(24px, 360px);
         line-height: vw(28px, 360px);
      }

      @media screen and (min-width: 920px) {
         font-size: vw(24px);
         line-height: vw(28px);
      }

      @media screen and (min-width: 1600px) {
         font-size: 24px;
         line-height: 28px;
      }
   }

   &__cards {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;
      width: 100%;

      gap: vw(40px, 360px);
      
      @media screen and (min-width: 360px) {
         gap: 40px;
      }

      @media screen and (min-width: 500px) {
         gap: vw(40px, 360px);
      }

      @media screen and (min-width: 920px) {
         gap: vw(40px);
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
      }

      @media screen and (min-width: 1600px) {
         gap: 40px;
      }
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100%;

      gap: vw(20px, 360px);
      margin-bottom: vw(64px, 360px);
      
      @media screen and (min-width: 360px) {
         gap: 20px;
         margin-bottom: 64px;
      }

      @media screen and (min-width: 500px) {
         gap: vw(20px, 360px);
         margin-bottom: vw(64px, 360px);
      }

      @media screen and (min-width: 920px) {
         gap: vw(20px);
         margin-bottom: vw(64px);
         justify-content: flex-start;
         align-items: flex-end;
      }

      @media screen and (min-width: 1600px) {
         gap: 20px;
         margin-bottom: 64px;
      }
   }

   &__time {


      &Header {
         display: flex;
         flex-direction: row;
         align-items: baseline;
         
         margin-bottom: vw(32px, 360px);
      
         @media screen and (min-width: 360px) {
            margin-bottom: 32px;
         }
   
         @media screen and (min-width: 500px) {
            margin-bottom: vw(32px, 360px);
         }
   
         @media screen and (min-width: 920px) {
            margin-bottom: vw(40px);
         }

         @media screen and (min-width: 1600px) {
            margin-bottom: 40px;
         }
      }

      &Title {
         font-weight: 600;
         color: $white !important;
         width: 100%;
         text-transform: uppercase;

         display: flex;
         flex-direction: row;
         align-items: center;

         @media screen and (min-width: 920px) {
            justify-content: space-between;
         }
      }

      &Value {
         color: $white;
         font-weight: 600;
         white-space: nowrap;
         text-decoration: underline;

         font-size: vw(18px, 360px);
         line-height: vw(21px, 360px);
      
         @media screen and (min-width: 360px) {
            font-size: 18px;
            line-height: 21px;
         }
   
         @media screen and (min-width: 500px) {
            font-size: vw(18px, 360px);
            line-height: vw(21px, 360px);
         }
   
         @media screen and (min-width: 920px) {
            display: none;
         }
      }
   }

   &__timeTitleText {

      font-size: vw(24px, 360px);
      line-height: vw(28px, 360px);
   
      @media screen and (min-width: 360px) {
         font-size: 24px;
         line-height: 28px;
      }

      @media screen and (min-width: 500px) {
         font-size: vw(24px, 360px);
         line-height: vw(28px, 360px);
      }

      @media screen and (min-width: 920px) {
         font-size: vw(24px);
         line-height: vw(28px);
      }

      @media screen and (min-width: 1600px) {
         font-size: 24px;
         line-height: 28px;
      }
   }

   &__timeTitleNote {
      display: none;

      @media screen and (min-width: 920px) {
         display: block;
      }
   }

   &__resultText {
      font-weight: 600;
      text-transform: uppercase;

      font-size: vw(24px, 360px);
      line-height: vw(28px, 360px);
   
      @media screen and (min-width: 360px) {
         font-size: 24px;
         line-height: 28px;
      }

      @media screen and (min-width: 500px) {
         font-size: vw(24px, 360px);
         line-height: vw(28px, 360px);
      }

      @media screen and (min-width: 920px) {
         font-size: vw(24px);
         line-height: vw(28px);
      }

      @media screen and (min-width: 1600px) {
         font-size: 24px;
         line-height: 28px;
      }
   }

   &__resultValue {
      font-weight: 400;
      text-transform: none;

      font-size: vw(24px, 360px);
      line-height: vw(28px, 360px);
   
      @media screen and (min-width: 360px) {
         font-size: 24px;
         line-height: 28px;
      }

      @media screen and (min-width: 500px) {
         font-size: vw(24px, 360px);
         line-height: vw(28px, 360px);
      }

      @media screen and (min-width: 920px) {
         font-size: vw(24px);
         line-height: vw(28px);
      }

      @media screen and (min-width: 1600px) {
         font-size: 24px;
         line-height: 28px;
      }
   }

   &__resultLink {
      color: $accent;
   }

   &__timeNote {
      color: $white;
      display: flex;
      flex-direction: column;

      gap: vw(8px, 360px);
      margin-top: vw(40px, 360px);

      @media screen and (min-width: 360px) {
         gap: 8px;
         margin-top: 40px;
      }

      @media screen and (min-width: 500px) {
         gap: vw(8px, 360px);
         margin-top: vw(40px, 360px);
      }

      @media screen and (min-width: 920px) {
         display: none;
      }
   }

   

   &__actions {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-between;

      gap: vw(20px, 360px);

      @media screen and (min-width: 360px) {
         gap: 20px;
      }
      
      @media screen and (min-width: 500px) {
         gap: vw(20px, 360px);
      }

      @media screen and (min-width: 920px) {
         flex-direction: row;
      }
   }

   &__actionsBlock {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;

      &:last-child {
         flex-direction: column-reverse;
      }

      gap: vw(20px, 360px);

      @media screen and (min-width: 360px) {
         gap: 20px;
      }

      @media screen and (min-width: 500px) {
         gap: vw(20px, 360px);
      }

      @media screen and (min-width: 920px) {
         width: auto;
         flex-direction: row;
         gap: vw(20px);
         
         &:last-child {
            flex-direction: row;
         }
      }

      @media screen and (min-width: 1600px) {
         gap: 20px;
      }
   }
}

.card {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: flex-start;
   color: $text;

   gap: vw(32px, 360px);
   padding: vw(30px, 360px) vw(30px, 360px);
      
   @media screen and (min-width: 360px) {
      padding: 30px 30px;
      gap: 32px;
   }

   @media screen and (min-width: 500px) {
      padding: vw(30px, 360px) vw(30px, 360px);
      gap: vw(32px, 360px);
   }

   @media screen and (min-width: 920px) {
      padding: vw(30px) vw(53px);
      gap: vw(32px);
      width: 100%;
      max-height: 95px;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
   }

   @media screen and (min-width: 1600px) {
      padding: 30px 53px;
      gap: 32px;
      width: 100%;
   }

   &__title {
      font-family: Rubik;
      font-weight: 600;
      letter-spacing: 0em;
      text-align: left;

      font-size: vw(24px, 360px);
      line-height: vw(28px, 360px);
      
      @media screen and (min-width: 360px) {
         font-size: 24px;
         line-height: 28px;
      }

      @media screen and (min-width: 500px) {
         font-size: vw(24px, 360px);
         line-height: vw(28px, 360px);
      }

      @media screen and (min-width: 920px) {
         font-size: vw(24px);
         line-height: vw(28px);
      }

      @media screen and (min-width: 1600px) {
         font-size: 24px;
         line-height: 28px;
      }
   }

   &__subtext {
      font-family: Rubik;
      font-weight: 400;
      letter-spacing: 0em;
      text-align: left;

      font-size: vw(24px, 360px);
      line-height: vw(28px, 360px);
      
      @media screen and (min-width: 360px) {
         font-size: 24px;
         line-height: 28px;
      }

      @media screen and (min-width: 500px) {
         font-size: vw(24px, 360px);
         line-height: vw(28px, 360px);
      }

      @media screen and (min-width: 920px) {
         font-size: vw(24px);
         line-height: vw(28px);
      }

      @media screen and (min-width: 1600px) {
         font-size: 24px;
         line-height: 28px;
      }
   }

   &__label {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;

      gap: vw(8px, 360px);

      p {
         font-family: Rubik;
         font-weight: 400;
         letter-spacing: 0em;
         text-align: center;

         color: $white;

         font-size: vw(24px, 360px);
         line-height: vw(28px, 360px);
      
         @media screen and (min-width: 360px) {
            font-size: 24px;
            line-height: 28px;
         }

         @media screen and (min-width: 500px) {
            font-size: vw(24px, 360px);
            line-height: vw(28px, 360px);
         }

         @media screen and (min-width: 920px) {
            font-size: vw(24px);
            line-height: vw(28px);
         }

         @media screen and (min-width: 1600px) {
            font-size: 24px;
            line-height: 28px;
         }
      }
      
      @media screen and (min-width: 360px) {
         gap: 8px;
      }

      @media screen and (min-width: 500px) {
         gap: vw(8px, 360px);
      }

      @media screen and (min-width: 920px) {
         gap: vw(8px);
      }

      @media screen and (min-width: 1600px) {
         gap: 8px;
      }
   }

   &__chips {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      background-color: $text;
      color: $white;

      font-family: Rubik;
      font-weight: 400;
      letter-spacing: 0em;
      text-align: center;

      padding: vw(8px, 360px) vw(24px, 360px);
      font-size: vw(16px, 360px);
      line-height: vw(19px, 360px);
      border-radius: vw(4px, 360px);
      
      @media screen and (min-width: 360px) {
         padding: 8px 24px;
         font-size: 16px;
         line-height: 19px;
         border-radius: 4px;
      }

      @media screen and (min-width: 500px) {
         padding: vw(8px, 360px) vw(24px, 360px);
         font-size: vw(16px, 360px);
         line-height: vw(19px, 360px);
         border-radius: vw(4px, 360px);
      }

      @media screen and (min-width: 920px) {
         padding: vw(8px) vw(24px);
         font-size: vw(19px);
         line-height: vw(16px);
         border-radius: vw(4px);
      }

      @media screen and (min-width: 1600px) {
         padding: 8px 24px;
         font-size: 16px;
         line-height: 19px;
         border-radius: 4px;
      }
   }

   &__button {
      width: 100%;
      border-radius: vw(4px, 360px);
      
      @media screen and (min-width: 360px) {
         border-radius: 4px;
      }

      @media screen and (min-width: 500px) {
         border-radius: vw(4px, 360px);
      }

      @media screen and (min-width: 920px) {
         width: auto;
         border-radius: vw(4px);
      }

      @media screen and (min-width: 1600px) {
         border-radius: 4px;
      }

      &_outline {
         border-color: $accent;
         color: $accent;
      }
   }
}
