@import "../../styles/colors.scss";
@import "../../styles/helpers.scss";

.input {
    border: none;
    outline: none;
    resize: vertical;
    color: $white;
    
    background: rgba($color: $accent, $alpha: 0.1);
    transition: background 0.3s ease-in-out,
                color 0.3s ease-in-out,
                border 0.3s ease-in-out;
    
    height: 52px;
    padding: 14px;
    border-radius: 10px;
    font-size: 24px;
    line-height: 24px;

    @media screen and (min-width: 500px) {
        height: vw(52px, 360px);
        padding: vw(14px, 360px);
        border-radius: vw(10px, 360px);
        font-size: vw(24px, 360px);
        line-height: vw(24px, 360px);
    }

    @media screen and (min-width: 920px) {
        height: vw(52px);
        padding: vw(14px);
        border-radius: vw(10px);
        font-size: vw(24px);
        line-height: vw(24px);
    }

    @media screen and (min-width: 1600px) {
        height: 52px;
        padding: 14px;
        border-radius: 10px;
        font-size: 24px;
        line-height: 24px;
    }

    &::placeholder {
        color: rgba($color: $white, $alpha: 0.4);
    }

    &:focus {
        background: $accent;
    }

    &_outline {
        background: none;
        border: solid $white;

        border-width: vw(1px, 360px);

        @media screen and (min-width: 500px) {
            border-width: 1px;
        }

        @media screen and (min-width: 500px) {
            border-width: vw(1px, 360px);
        }

        @media screen and (min-width: 920px) {
            border-width: vw(1px);
        }

        @media screen and (min-width: 1600px) {
            border-width: 1px;
        }

        &:focus {
            background: none;
            border-color: $accent;
        }
    }
}

textarea.input {
    min-height: vw(100px, 360px);

    @media screen and (min-width: 360px) {
        min-height: 100px;
    }
    @media screen and (min-width: 500px) {
        min-height: vw(100px, 360px);
    }
    @media screen and (min-width: 920px) {
        min-height: vw(100px);
    }
    @media screen and (min-width: 1600px) {
        min-height: 100px;
    }
}