@import "../../styles/colors.scss";
@import "../../styles/helpers.scss";

.button {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   color: $white;
   font-weight: 400;
   text-decoration: none;
   background: $gradient;

   height: vw(35px, 360px);
   padding: 0px vw(16px, 360px);
   border-radius: vw(8px, 360px);

   font-size: vw(16px, 360px);
   line-height: vw(19px, 360px);


   @media screen and (min-width: 920px) {
      height: vw(35px);
      padding: 0px vw(16px);
      border-radius: vw(8px);

      font-size: vw(16px);
      line-height: vw(19px);
   }

   @media screen and (min-width: 1600px) {
      height: 35px;
      padding: 0px 16px;
      border-radius: 8px;

      font-size: 16px;
      line-height: 19px;
   }

   &_outline {
      background: none;
      border: solid $button-link-border;

      border-width: vw(1px, 360px);

      @media screen and (min-width: 920px) {
         border-width: vw(1px);
      }

      @media screen and (min-width: 1600px) {
         border-width: 1px;
      }
   }
}
