@import "../../styles/helpers.scss";

.image {
   width: 100%;
   object-fit: cover;
   margin-bottom: 32px;

   @media screen and (min-width: 360px) {
      margin-bottom: 32px;
   }

   @media screen and (min-width: 500px) {
      margin-bottom: vw(32px, 414px);
   }

   @media screen and (min-width: 920px) {
      margin-bottom: vw(32px);
   }

   @media screen and (min-width: 1600px) {
      margin-bottom: 32px;
   }
}
