@import "../../styles/colors.scss";
@import "../../styles/helpers.scss";

.countdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: 0px;

    @media screen and (min-width: 920px) {
        justify-content: flex-start;
        gap: vw(32px);
    }

    @media screen and (min-width: 1600px) {
        gap: 32px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: vw(4px, 360px);

        @media screen and (min-width: 920px) {
            gap: vw(4px);
        }

        @media screen and (min-width: 1600px) {
            gap: 4px;
        }

        &Value {
            color: $white;
            font-weight: 600;

            font-size: vw(36px, 360px);
            line-height: vw(43px, 360px);

            @media screen and (min-width: 920px) {
                font-size: vw(36px);
                line-height: vw(43px);
            }

            @media screen and (min-width: 1600px) {
                font-size: 36px;
                line-height: 43px;
            }
        }

        &Tip {
            color: rgba($color: $white, $alpha: 0.3);
            text-transform: uppercase;
            font-weight: 600;

            font-size: vw(12px, 360px);
            line-height: vw(14px, 360px);

            @media screen and (min-width: 920px) {
                font-size: vw(12px);
                line-height: vw(14px);
            }

            @media screen and (min-width: 1600px) {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}