@import "../../styles/colors.scss";
@import "../../styles/helpers.scss";

.project {

   &__socials {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;

      gap: vw(14px, 360px);
      width: vw(250px, 360px);

      @media screen and (min-width: 360px) {
         gap: 14px;
         width: 250px;
      }

      @media screen and (min-width: 500px) {
         gap: vw(14px, 360px);
         width: vw(250px, 360px);
      }

      @media screen and (min-width: 920px) {
         gap: vw(14px);
         width: vw(250px);
      }

      @media screen and (min-width: 1600px) {
         gap: 14px;
         width: 250px;
      }
   }

   &__socialsLink {

   }

   &__socialsLinkImg {
      width: vw(51px, 360px);
      height: vw(35px, 360px);

      @media screen and (min-width: 360px) {
         width: 51px;
         height: 35px;
      }

      @media screen and (min-width: 500px) {
         width: vw(51px, 360px);
         height: vw(35px, 360px);
      }

      @media screen and (min-width: 920px) {
         width: vw(51px);
         height: vw(35px);
      }

      @media screen and (min-width: 1600px) {
         width: 51px;
         height: 35px;
      }
   }

   &__tag {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background: $text;
      color: $accent;
      position: absolute;
      text-transform: uppercase;

      padding: 0px vw(16px, 360px);
      border-radius: vw(17.5px, 360px);
      font-size: vw(16px, 360px);
      line-height: vw(16px, 360px);
      height: vw(35px, 360px);
      top: vw(-18px, 360px);
      right: vw(-18px, 360px);

      @media screen and (min-width: 360px) {
         padding: 0px 16px;
         border-radius: 17.5px;
         font-size: 16px;
         line-height: 16px;
         height: 35px;
         top: -18px;
         right: -18px;
      }

      @media screen and (min-width: 500px) {
         padding: 0px vw(16px, 360px);
         border-radius: vw(17.5px, 360px);
         font-size: vw(16px, 360px);
         line-height: vw(16px, 360px);
         height: vw(35px, 360px);
         top: vw(-18px, 360px);
         right: vw(-18px, 360px);
      }

      @media screen and (min-width: 920px) {
         padding: 0px vw(16px);
         border-radius: vw(17.5px);
         font-size: vw(16px);
         line-height: vw(16px);
         height: vw(35px);
         top: vw(-18px);
         right: vw(-18px);
      }

      @media screen and (min-width: 1600px) {
         padding: 0px 16px;
         border-radius: 17.5px;
         font-size: 16px;
         line-height: 16px;
         height: 35px;
         top: -18px;
         right: -18px;
      }
   }

   &__layout {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;
   }

   &__head {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      gap: vw(20px, 360px);

      @media screen and (min-width: 360px) {
         gap: 20px;
      }

      @media screen and (min-width: 500px) {
         gap: vw(20px, 360px);
      }

      @media screen and (min-width: 920px) {
         gap: vw(20px);
      }
      @media screen and (min-width: 1600px) {
         gap: 20px;
      }
      img {
         object-fit: contain;
         height: vw(78px, 360px);
         max-width: vw(250px);

         @media screen and (min-width: 360px) {
            height: 78px;
            max-width: 250px;
         }

         @media screen and (min-width: 500px) {
            height: vw(78px, 360px);
            max-width: vw(250px);
         }

         @media screen and (min-width: 920px) {
            height: vw(78px);
            max-width: vw(250px);
         }
         @media screen and (min-width: 1600px) {
            height: 78px;
            max-width: 250px;
         }
      }
   }

   &__title {
      font-family: Rubik;
      font-weight: 800;
      letter-spacing: 0em;
      text-align: center;
      color: $white !important;

      font-size: vw(36px, 360px);
      line-height: vw(43px, 360px);

      @media screen and (min-width: 360px) {
         font-size: 36px;
         line-height: 43px;
      }

      @media screen and (min-width: 500px) {
         font-size: vw(36px, 360px);
         line-height: vw(43px, 360px);
      }

      @media screen and (min-width: 920px) {
         font-size: vw(36px);
         line-height: vw(43px);
      }
      @media screen and (min-width: 1600px) {
         font-size: 36px;
         line-height: 43px;
      }
   }

   &__links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;

      list-style: none;

      gap: vw(14px, 360px);

      @media screen and (min-width: 360px) {
         gap: 14px;
      }

      @media screen and (min-width: 500px) {
         gap: vw(14px, 360px);
      }

      @media screen and (min-width: 920px) {
         gap: vw(14px);
      }
      @media screen and (min-width: 1600px) {
         gap: 14px;
      }
   }

   &__body {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      gap: vw(40px, 360px);

      @media screen and (min-width: 360px) {
         gap: 40px;
      }

      @media screen and (min-width: 500px) {
         gap: vw(40px, 360px);
      }

      @media screen and (min-width: 920px) {
         flex-direction: row;
         gap: vw(40px);
      }

      @media screen and (min-width: 1600px) {
         gap: 40px;
      }
   }
   &__container {
      padding: vw(30px, 360px);

      &_magenta {
         background-color: rgba(205, 62, 208, 0.1);
         margin: 0px !important;
      }

      &_left {
         width: 100% !important;
         margin-bottom: vw(40px, 360px);

         @media screen and (min-width: 360px) {
            margin-bottom: 40px;
         }

         @media screen and (min-width: 500px) {
            margin-bottom: vw(40px, 360px);
         }

         @media screen and (min-width: 920px) {
            margin-bottom: vw(40px);
            width: 100%;
         }

         @media screen and (min-width: 1600px) {
            margin-bottom: 40px;
            width: 100%;
         }
      }

      &_lowPadding {
         padding: vw(20px, 360px);

         @media screen and (min-width: 360px) {
            padding: 20px;
         }

         @media screen and (min-width: 500px) {
            padding: vw(20px, 360px);
         }

         @media screen and (min-width: 920px) {
            padding: vw(20px);
         }
         @media screen and (min-width: 1600px) {
            padding: 20px;
         }
      }

      @media screen and (min-width: 360px) {
         padding: 30px;
      }

      @media screen and (min-width: 500px) {
         padding: vw(30px, 360px);
      }

      @media screen and (min-width: 920px) {
         padding: vw(30px);
         width: vw(440px);
      }
      @media screen and (min-width: 1600px) {
         padding: 30px;
         width: 440px;
      }
   }

   &__info {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;

      gap: vw(30px, 360px);
      // width: vw(266px, 360px);

      color: $white;

      @media screen and (min-width: 360px) {
         gap: 30px;
         // width: 100%;
      }

      @media screen and (min-width: 500px) {
         gap: vw(30px, 360px);
         // width: vw(276px, 360px);
      }

      @media screen and (min-width: 920px) {
         gap: vw(30px);
         // width: vw(380px);
      }
      @media screen and (min-width: 1600px) {
         gap: 30px;
         // width: 380px;
      }

      hr {
         height: 2px;
         background-color: $text;
         border: none;
      }

      &__items {
         display: flex;
         flex-direction: column;
         flex-wrap: nowrap;
         justify-content: flex-start;
         align-items: stretch;
         list-style: none;
         gap: vw(20px, 360px);

         @media screen and (min-width: 360px) {
            gap: 20px;
         }

         @media screen and (min-width: 500px) {
            gap: vw(20px, 360px);
         }

         @media screen and (min-width: 920px) {
            gap: vw(20px);
         }
         @media screen and (min-width: 1600px) {
            gap: 20px;
         }

         &__title {
            font-family: Rubik;
            font-weight: 400;
            letter-spacing: 0em;
            text-align: left;

            color: $text-title;

            font-size: vw(18px, 360px);
            line-height: vw(25px, 360px);
            width: vw(70px, 360px);

            @media screen and (min-width: 360px) {
               font-size: 18px;
               line-height: 25px;
               width: 70px;
            }

            @media screen and (min-width: 500px) {
               font-size: vw(18px, 360px);
               line-height: vw(25px, 360px);
               width: vw(70px, 360px);
            }

            @media screen and (min-width: 920px) {
               font-size: vw(18px);
               line-height: vw(25px);
               width: none;
            }
            @media screen and (min-width: 1600px) {
               font-size: 18px;
               line-height: 25px;
               width: none;
            }
         }

         &__result {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-end;

            font-family: Rubik;
            font-weight: 600;
            letter-spacing: 0em;
            text-align: right;

            gap: vw(6px, 360px);
            font-size: vw(18px, 360px);
            line-height: vw(21px, 360px);
            width: vw(121px, 360px);

            @media screen and (min-width: 360px) {
               gap: 6px;
               font-size: 18px;
               line-height: 21px;
               width: 121px;
            }

            @media screen and (min-width: 500px) {
               gap: vw(6px, 360px);
               font-size: vw(18px, 360px);
               line-height: vw(21px, 360px);
               width: vw(121px, 360px);
            }

            @media screen and (min-width: 920px) {
               font-size: vw(18px);
               line-height: vw(21px);
               gap: vw(6px);
               width: 100%;
            }
            @media screen and (min-width: 1600px) {
               font-size: 18px;
               line-height: 21px;
               gap: 6px;
            }

            img {
               width: vw(18px, 360px);
               height: auto;

               border-radius: 100%;

               @media screen and (min-width: 360px) {
                  width: 18px;
               }

               @media screen and (min-width: 500px) {
                  width: vw(18px, 360px);
               }

               @media screen and (min-width: 920px) {
                  width: vw(18px);
               }
               @media screen and (min-width: 1600px) {
                  width: 18px;
               }
            }
         }
      }
      li {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-between;
         align-items: center;
      }
   }

   &__progress {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;

      gap: vw(24px, 360px);

      @media screen and (min-width: 360px) {
         gap: 24px;
      }

      @media screen and (min-width: 500px) {
         gap: vw(24px, 360px);
      }

      @media screen and (min-width: 920px) {
         gap: vw(24px);
      }
      @media screen and (min-width: 1600px) {
         gap: 24px;
      }

      &__title {
         font-family: Rubik;
         font-weight: 400;
         letter-spacing: 0em;
         text-align: left;

         font-size: vw(18px, 360px);
         line-height: vw(25px, 360px);

         @media screen and (min-width: 360px) {
            font-size: 18px;
            line-height: 25px;
         }

         @media screen and (min-width: 500px) {
            font-size: vw(18px, 360px);
            line-height: vw(25px, 360px);
         }

         @media screen and (min-width: 920px) {
            font-size: vw(18px);
            line-height: vw(25px);
         }
         @media screen and (min-width: 1600px) {
            font-size: 18px;
            line-height: 25px;
         }
      }
   }

   &__cards {
      width: 100%;
   }
}

.card {
   &__title {
      font-family: Rubik;
      font-weight: 600;
      letter-spacing: 0em;
      margin: 0px !important;
      text-align: left;

      margin-bottom: vw(20px, 360px) !important;
      line-height: vw(21px, 360px);
      font-size: vw(18px, 360px);

      color: $white;

      @media screen and (min-width: 360px) {
         margin-bottom: 20px !important;
         line-height: 21px;
         font-size: 18px;
      }

      @media screen and (min-width: 500px) {
         margin-bottom: vw(20px, 360px) !important;
         line-height: vw(21px, 360px);
         font-size: vw(18px, 360px);
      }

      @media screen and (min-width: 920px) {
         font-size: vw(18px);
         line-height: vw(21px);
         margin-bottom: vw(30px) !important;
      }
      @media screen and (min-width: 1600px) {
         font-size: 18px;
         line-height: 21px;
         margin-bottom: 30px !important;
      }
   }

   &__attantions {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: vw(40px, 360px);

      @media screen and (min-width: 360px) {
         gap: 40px;
      }

      @media screen and (min-width: 500px) {
         gap: vw(40px, 360px);
      }

      @media screen and (min-width: 920px) {
         gap: vw(111px);
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: flex-start;
         align-items: stretch;
      }
      @media screen and (min-width: 1600px) {
         gap: 111px;
      }
   }

   &__rejected {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: vw(24px, 360px);

      @media screen and (min-width: 360px) {
         gap: 24px;
      }

      @media screen and (min-width: 500px) {
         gap: vw(24px, 360px);
      }

      @media screen and (min-width: 920px) {
         gap: vw(24px);
         width: vw(337px);
      }
      @media screen and (min-width: 1600px) {
         gap: 24px;
         width: 337px;
      }

      svg {
         width: vw(40px, 360px);
         height: auto;

         @media screen and (min-width: 360px) {
            width: 40px;
         }

         @media screen and (min-width: 500px) {
            width: vw(40px, 360px);
         }

         @media screen and (min-width: 920px) {
            width: vw(40px);
         }
         @media screen and (min-width: 1600px) {
            width: 40px;
         }
      }

      p {
         font-family: Rubik;
         font-weight: 600;
         letter-spacing: 0em;
         text-align: center;

         color: $white;

         font-size: vw(20px, 360px);
         line-height: vw(28px, 360px);

         @media screen and (min-width: 360px) {
            font-size: 20px;
            line-height: 28px;
         }

         @media screen and (min-width: 500px) {
            font-size: vw(20px, 360px);
            line-height: vw(28px, 360px);
         }

         @media screen and (min-width: 920px) {
            font-size: vw(20px);
            line-height: vw(28px);
         }
         @media screen and (min-width: 1600px) {
            font-size: 20px;
            line-height: 28px;
         }
      }
   }

   &__timer {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;

      margin-bottom: vw(40px, 360px);

      width: 100%;

      @media screen and (min-width: 360px) {
         margin-bottom: 40px;
      }

      @media screen and (min-width: 500px) {
         margin-bottom: vw(40px, 360px);
      }

      @media screen and (min-width: 920px) {
         width: vw(279px);
         margin-bottom: vw(30px);
      }
      @media screen and (min-width: 1600px) {
         width: 279px;
         margin-bottom: 30px;
      }
   }

   &__block {
      width: 100%;
      height: vw(61px, 360px);

      @media screen and (min-width: 360px) {
         height: 61px;
      }

      @media screen and (min-width: 500px) {
         height: vw(61px, 360px);
      }

      @media screen and (min-width: 920px) {
         width: vw(279px);
         height: vw(61px);
      }
      @media screen and (min-width: 1600px) {
         width: 279px;
         height: 61px;
      }
   }
}

.container__alert {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: stretch;

   font-family: Rubik;
   font-weight: 600;
   letter-spacing: 0em;
   text-align: left;

   color: $white;

   gap: vw(12px, 360px);
   font-size: vw(14px, 360px);
   line-height: vw(20px, 360px);

   @media screen and (min-width: 360px) {
      gap: 12px;
      font-size: 14px;
      line-height: 20px;
   }

   @media screen and (min-width: 500px) {
      gap: vw(12px, 360px);
      font-size: vw(14px, 360px);
      line-height: vw(20px, 360px);
   }

   @media screen and (min-width: 920px) {
      font-size: vw(14px);
      line-height: vw(20px);
      gap: vw(12px);
   }

   @media screen and (min-width: 1600px) {
      font-size: 14px;
      line-height: 20px;
      gap: 12px;
   }
}

.slider {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   justify-content: flex-start;
   width: 100%;

   gap: vw(24px, 360px);
   margin-bottom: vw(64px, 360px);

   @media screen and (min-width: 360px) {
      gap: 24px;
      margin-bottom: 64px;
   }

   @media screen and (min-width: 500px) {
      gap: vw(24px, 360px);
      margin-bottom: vw(64px, 360px);
   }

   @media screen and (min-width: 920px) {
      gap: vw(24px);
      margin-bottom: vw(64px);
   }

   @media screen and (min-width: 1600px) {
      gap: 24px;
      margin-bottom: 64px;
   }

   &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
   }

   &__title {
      color: $white;
      font-weight: 600;

      font-size: vw(18px, 360px);
      line-height: vw(18px, 360px);

      @media screen and (min-width: 360px) {
         font-size: 18px;
         line-height: 18px;
      }
   
      @media screen and (min-width: 500px) {
         font-size: vw(18px, 360px);
         line-height: vw(18px, 360px);
      }
   
      @media screen and (min-width: 920px) {
         font-size: vw(18px);
         line-height: vw(18px);
      }
   
      @media screen and (min-width: 1600px) {
         font-size: 18px;
         line-height: 18px;
      }
   }

   &__control {
      display: none;
   
      @media screen and (min-width: 920px) {
         display: flex;
         align-items: center;
         justify-content: flex-end;
         gap: vw(12px);
      }
   
      @media screen and (min-width: 1600px) {
         gap: 12px;
      }
   }

   &__counter {
      color: $accent;

      font-size: vw(18px, 360px);
      line-height: vw(18px, 360px);

      @media screen and (min-width: 360px) {
         font-size: 18px;
         line-height: 18px;
      }
   
      @media screen and (min-width: 500px) {
         font-size: vw(18px, 360px);
         line-height: vw(18px, 360px);
      }
   
      @media screen and (min-width: 920px) {
         font-size: vw(18px);
         line-height: vw(18px);
      }
   
      @media screen and (min-width: 1600px) {
         font-size: 18px;
         line-height: 18px;
      }
   }

   &__button {
      background: #252525;
      transition: background 0.3s ease-in-out;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      width: vw(30px, 360px);
      height: vw(30px, 360px);
      border-radius: vw(4px, 360px);

      @media screen and (min-width: 360px) {
         width: 30px;
         height: 30px;
         border-radius: 4px;
      }
   
      @media screen and (min-width: 500px) {
         width: vw(30px, 360px);
         height: vw(30px, 360px);
         border-radius: vw(4px, 360px);
      }
   
      @media screen and (min-width: 920px) {
         width: vw(30px);
         height: vw(30px);
         border-radius: vw(4px);
      }
   
      @media screen and (min-width: 1600px) {
         width: 30px;
         height: 30px;
         border-radius: 4px;
      }

      &:hover {
         background: $accent;

         path {
            fill: #252525;
         }
      }

      svg {
         width: vw(8px, 360px);
         height: vw(12px, 360px);

         @media screen and (min-width: 360px) {
            width: 8px;
            height: 12px;
         }
      
         @media screen and (min-width: 500px) {
            width: vw(8px, 360px);
            height: vw(12px, 360px);
         }
      
         @media screen and (min-width: 920px) {
            width: vw(8px);
            height: vw(12px);
         }
      
         @media screen and (min-width: 1600px) {
            width: 8px;
            height: 12px;
         }

         path {
            fill: $accent;
         }
      }
   }

   &__track {
      overflow: auto;
      white-space: nowrap;
      width: 100%;
      
      padding-bottom: vw(26px, 360px);

      @media screen and (min-width: 360px) {
         padding-bottom: 26px;
      }
   
      @media screen and (min-width: 500px) {
         padding-bottom: vw(26px, 360px);
      }
   
      @media screen and (min-width: 920px) {
         border: solid $accent;
         padding: 0px;
         overflow: hidden;
         width: vw(927px);
         border-width: vw(1px);
         border-radius: vw(10px);
      }
   
      @media screen and (min-width: 1600px) {
         border-width: 1px;
         border-radius: 10px;
         width: 927px;
      }
   }

   &_slide {
      position: relative;
      display: inline-block;
      transition: transform 0.3s ease-in-out;
      overflow: hidden;
      border: solid $accent;

      @media screen and (max-width: 919px) {
         transform: none !important;
      }
      
      border-radius: vw(10px, 360px);
      margin-right: vw(8px, 360px);
      border-width: vw(1px, 360px);

      @media screen and (min-width: 360px) {
         border-radius: 10px;
         margin-right: 12px;
         border-width: 1px;
      }

      @media screen and (min-width: 500px) {
         border-radius: vw(10px, 360px);
         margin-right: vw(12px, 360px);
         border-width: vw(1px, 360px);
      }

      @media screen and (min-width: 920px) {
         border: none;
         border-radius: 0px;
         margin: 0px;
      }
   }

   &__img {
      vertical-align: bottom;

      width: 100%;

      @media screen and (min-width: 360px) {

      }

      @media screen and (min-width: 500px) {

      }

      @media screen and (min-width: 920px) {
         width: vw(927px);
      }

      @media screen and (min-width: 1600px) {
         width: 927px;
      }
   }

   &_link {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
   }
}

.registrationCard {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   
   gap: vw(48px, 360px);

   @media screen and (min-width: 360px) {
      gap: 48px;
   }
   
   @media screen and (min-width: 500px) {
      gap: vw(48px, 360px);
   }
   
   @media screen and (min-width: 920px) {
      flex-direction: row;
      gap: vw(32px);
   }
   
   @media screen and (min-width: 1600px) {
      gap: 32px;
   }

   &__block {
      width: 100%;

   }

   &__title {
      color: $white;
      text-transform: uppercase;

      font-size: vw(18px, 360px);
      line-height: vw(18px, 360px);
      margin-bottom: vw(14px, 360px);

      @media screen and (min-width: 360px) {
         font-size: 18px;
         line-height: 18px;
         margin-bottom: 14px;
      }
      
      @media screen and (min-width: 500px) {
         font-size: vw(18px, 360px);
         line-height: vw(18px, 360px);
         margin-bottom: vw(14px, 360px);
      }
      
      @media screen and (min-width: 920px) {
         font-size: vw(18px);
         line-height: vw(18px);
         margin-bottom: vw(14px);
      }
      
      @media screen and (min-width: 1600px) {
         font-size: 18px;
         line-height: 18px;
         margin-bottom: 14px;
      }
   }

   &__check {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      gap: vw(14px, 360px);
      margin-bottom: vw(24px, 360px);

      @media screen and (min-width: 360px) {
         gap: 14px;
         margin-bottom: 24px;
      }
      
      @media screen and (min-width: 500px) {
         gap: vw(14px, 360px);
         margin-bottom: vw(24px, 360px);
      }
      
      @media screen and (min-width: 920px) {
         gap: vw(14px);
         margin-bottom: vw(24px);
      }
      
      @media screen and (min-width: 1600px) {
         gap: 14px;
         margin-bottom: 24px;
      }
   }

   &__checkItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      gap: vw(8px, 360px);

      @media screen and (min-width: 360px) {
         gap: 8px;
      }
      
      @media screen and (min-width: 500px) {
         gap: vw(8px, 360px);
      }
      
      @media screen and (min-width: 920px) {
         gap: vw(8px);
      }
      
      @media screen and (min-width: 1600px) {
         gap: 8px;
      }
   }

   &__checkCircle {
      background: #434343;
      display: flex;
      align-items: center;
      justify-content: center;

      &_check {
         background: $accent;
      }

      width: vw(24px, 360px);
      height: vw(24px, 360px);
      border-radius: vw(12px, 360px);

      @media screen and (min-width: 360px) {
         width: 24px;
         height: 24px;
         border-radius: 12px;
      }
      
      @media screen and (min-width: 500px) {
         width: vw(24px, 360px);
         height: vw(24px, 360px);
         border-radius: vw(12px, 360px);
      }
      
      @media screen and (min-width: 920px) {
         width: vw(24px);
         height: vw(24px);
         border-radius: vw(12px);
      }
      
      @media screen and (min-width: 1600px) {
         width: 24px;
         height: 24px;
         border-radius: 12px;
      }
   }

   &__checkIcon {
      width: vw(14px, 360px);
      height: vw(14px, 360px);

      @media screen and (min-width: 360px) {
         width: 14px;
         height: 14px;
      }
      
      @media screen and (min-width: 500px) {
         width: vw(14px, 360px);
         height: vw(14px, 360px);
      }
      
      @media screen and (min-width: 920px) {
         width: vw(14px);
         height: vw(14px);
      }
      
      @media screen and (min-width: 1600px) {
         width: 14px;
         height: 14px;
      }
      
      path {
         fill: $accent;
      }

      &_check {

         path {
            fill: #434343;
         }
      }
   }

   &__checkText {
      color: $white;
   }

   &__button {
      width: vw(235px, 360px);

      @media screen and (min-width: 360px) {
         width: 235px;
      }
      
      @media screen and (min-width: 500px) {
         width: vw(235px, 360px);
      }
      
      @media screen and (min-width: 920px) {
         width: vw(235px);
      }
      
      @media screen and (min-width: 1600px) {
         width: 235px;
      }
   }
}