@import "../../styles/colors.scss";
@import "../../styles/helpers.scss";

.tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    gap: vw(14px, 360px);

    @media screen and (min-width: 920px) {
        gap: vw(14px);
    }

    @media screen and (min-width: 1600px) {
        gap: 14px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        border: solid $accent;
        color: $white;
        text-decoration: none;

        border-radius: vw(8px, 360px);
        border-width: vw(2px, 360px);
        height: vw(55px, 360px);
        padding: 0px vw(36px, 360px);
        font-size: vw(16px, 360px);
        line-height: vw(19px, 360px);

        // &:nth-child(1),&:nth-child(2) {
        //     margin-bottom: vw(14px, 360px);
        // }

        @media screen and (min-width: 920px) {
            border-radius: vw(8px);
            border-width: vw(2px);
            height: vw(55px);
            padding: 0px vw(36px);
            font-size: vw(16px);
            line-height: vw(19px);

            &:nth-child(1),&:nth-child(2) {
                margin-bottom: 0px;
            }
        }

        @media screen and (min-width: 1600px) {
            border-radius: 8px;
            border-width: 2px;
            height: 55px;
            padding: 0px 36px;
            font-size: 16px;
            line-height: 19px;
        }

        &_active {
            color: $accent;
        }
    }
}