@import "../../styles/colors.scss";
@import "../../styles/helpers.scss";

.block {
    display: flex;
    flex-direction: column;

    width: vw(280px, 360px);
    gap: vw(24px, 360px);

    @media screen and (min-width: 360px) {
        width: 280px;
        gap: 24px;
    }

    @media screen and (min-width: 500px) {
        width: vw(280px, 360px);
        gap: vw(24px, 360px);
    }

    @media screen and (min-width: 920px) {
        max-height: 90vh;
        width: vw(560px);
        gap: vw(24px);
    }

    @media screen and (min-width: 1600px) {
        width: 560px;
        gap: 24px;
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: none;
        border-bottom: solid $accent;
        text-transform: uppercase;
        
        padding-bottom: vw(18px, 360px);
        border-width: vw(2px, 360px);
        margin-bottom: vw(6px, 360px);
        
        @media screen and (min-width: 360px) {
            padding-bottom: 18px;
            border-width: 2px;
            margin-bottom: 6px;
        }
        
        @media screen and (min-width: 500px) {
            padding-bottom: vw(18px, 360px);
            border-width: vw(2px, 360px);
            margin-bottom: vw(6px, 360px);
        }
        
        @media screen and (min-width: 920px) {
            padding-bottom: vw(18px);
            border-width: vw(2px);
            margin-bottom: vw(6px);
        }

        @media screen and (min-width: 1600px) {
            padding-bottom: 18px;
            border-width: 2px;
            margin-bottom: 6px;
        }

        &Title {
            color: $white;
            font-weight: 400;

            font-size: vw(24px, 360px);
            line-height: vw(24px, 360px);
            
            @media screen and (min-width: 360px) {
                font-size: 24px;
                line-height: 24px;
            }
            
            @media screen and (min-width: 500px) {
                font-size: vw(24px, 360px);
                line-height: vw(24px, 360px);
            }
            
            @media screen and (min-width: 920px) {
                font-size: vw(24px);
                line-height: vw(24px);
            }

            @media screen and (min-width: 1600px) {
                font-size: 24px;
                line-height: 24px;
            }
        }
    }

    &__closeBtn {
        cursor: pointer;
        background: none;
        border: none;
        
        width: vw(17px, 360px);
        height: vw(17px, 360px);

        @media screen and (min-width: 360px) {
            width: 17px;
            height: 17px;
        }

        @media screen and (min-width: 500px) {
            width: vw(17px, 360px);
            height: vw(17px, 360px);
        }

        @media screen and (min-width: 920px) {
            width: vw(17px);
            height: vw(17px);
        }

        @media screen and (min-width: 1600px) {
            width: 17px;
            height: 17px;
        }

        &Icon {
            width: vw(17px, 360px);
            height: vw(17px, 360px);
        
            @media screen and (min-width: 360px) {
                width: 17px;
                height: 17px;
            }
        
            @media screen and (min-width: 500px) {
                width: vw(17px, 360px);
                height: vw(17px, 360px);
            }
        
            @media screen and (min-width: 920px) {
                width: vw(17px);
                height: vw(17px);
            }

            @media screen and (min-width: 1600px) {
                width: 17px;
                height: 17px;
            }

            & path {
                fill: $accent;
            }
        }
    }

    &__input {
        width: 100%;
        margin-bottom: 32px;
    }

    &__button {
        width: 100%;
        font-weight: 400;
        
        height: vw(56px, 360px);
        font-size: vw(24px, 360px);
        line-height: vw(24px, 360px);

        @media screen and (min-width: 360px) {
            height: 56px;
            font-size: 24px;
            line-height: 24px;
        }

        @media screen and (min-width: 500px) {
            height: vw(56px, 360px);
            font-size: vw(24px, 360px);
            line-height: vw(24px, 360px);
        }

        @media screen and (min-width: 920px) {
            height: vw(56px);
            font-size: vw(24px);
            line-height: vw(24px);
        }

        @media screen and (min-width: 1600px) {
            height: 56px;
            font-size: 24px;
            line-height: 24px;
        }
    }
}

.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: auto;

    gap: vw(24px, 360px);

    @media screen and (min-width: 360px) {
        gap: 24px;
    }

    @media screen and (min-width: 500px) {
        gap: vw(24px, 360px);
    }

    @media screen and (min-width: 920px) {
        align-items: flex-start;
        flex-direction: row;
        gap: vw(24px);
    }

    @media screen and (min-width: 1600px) {
        gap: 24px;
    }

    &__right {
        display: flex;
        flex-direction: column;

        gap: vw(24px, 360px);
        width: vw(202px, 360px);

        @media screen and (min-width: 360px) {
            gap: 24px;
            width: 202px;
        }

        @media screen and (min-width: 500px) {
            gap: vw(24px, 360px);
            width: vw(202px, 360px);
        }

        @media screen and (min-width: 920px) {
            position: sticky;
            top: 0px;
            gap: vw(24px);
            width: vw(202px);
        }

        @media screen and (min-width: 1600px) {
            gap: 24px;
            width: 202px;
        }
    }

    &__avatar {
        width: vw(202px, 360px);
        height: vw(202px, 360px);

        @media screen and (min-width: 360px) {
            width: 202px;
            height: 202px;
        }

        @media screen and (min-width: 500px) {
            width: vw(202px, 360px);
            height: vw(202px, 360px);
        }

        @media screen and (min-width: 920px) {
            width: vw(202px);
            height: vw(202px);
        }

        @media screen and (min-width: 1600px) {
            width: 202px;
            height: 202px;
        }
    }

    &__rightButton {
        width: 100%;

        &:first-of-type {
            background: none;
        }
    }

    &__left {
        width: 100%;
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        gap: vw(14px, 360px);
        margin-bottom: vw(36px, 360px);

        @media screen and (min-width: 360px) {
            gap: 14px;
            margin-bottom: 36px;
        }

        @media screen and (min-width: 500px) {
            gap: vw(14px, 360px);
            margin-bottom: vw(36px, 360px);
        }

        @media screen and (min-width: 920px) {
            gap: vw(14px);
            margin-bottom: vw(36px);
        }

        @media screen and (min-width: 1600px) {
            gap: 14px;
            margin-bottom: 36px;
        }
    }

    &__blockTitle {
        color: $white;
        font-weight: 400;

        margin-bottom: vw(10px, 360px);
        font-size: vw(24px, 360px);
        line-height: vw(28px, 360px);

        @media screen and (min-width: 360px) {
            margin-bottom: 10px;
            font-size: 24px;
            line-height: 28px;
        }

        @media screen and (min-width: 500px) {
            margin-bottom: vw(10px, 360px);
            font-size: vw(24px, 360px);
            line-height: vw(28px, 360px);
        }

        @media screen and (min-width: 920px) {
            margin-bottom: vw(10px);
            font-size: vw(24px);
            line-height: vw(28px);
        }

        @media screen and (min-width: 1600px) {
            margin-bottom: 10px;
            font-size: 24px;
            line-height: 28px;
        }
    }

    &__blockValue {
        background: $purple;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        height: vw(44px, 360px);
        border-radius: vw(10px, 360px);
        padding: 0px vw(14px, 360px);

        @media screen and (min-width: 360px) {
            height: 44px;
            border-radius: 10px;
            padding: 0px 14px;
        }

        @media screen and (min-width: 500px) {
            height: vw(44px, 360px);
            border-radius: vw(10px, 360px);
            padding: 0px vw(14px, 360px);
        }

        @media screen and (min-width: 920px) {
            height: vw(44px);
            border-radius: vw(10px);
            padding: 0px vw(14px);
        }

        @media screen and (min-width: 1600px) {
            height: 44px;
            border-radius: 10px;
            padding: 0px 14px;
        }
    }

    &__blockValueText {

        font-size: vw(16px, 360px);
        line-height: vw(16px, 360px);

        @media screen and (min-width: 360px) {
            font-size: 16px;
            line-height: 16px;
        }

        @media screen and (min-width: 500px) {
            font-size: vw(16px, 360px);
            line-height: vw(16px, 360px);
        }

        @media screen and (min-width: 920px) {
            font-size: vw(16px);
            line-height: vw(16px);
        }

        @media screen and (min-width: 1600px) {
            font-size: 16px;
            line-height: 16px;
        }
    }

    &__copyIcon {
        width: vw(15px, 360px);
        height: vw(18px, 360px);

        @media screen and (min-width: 360px) {
            width: 15px;
            height: 18px;
        }

        @media screen and (min-width: 500px) {
            width: vw(15px, 360px);
            height: vw(18px, 360px);
        }

        @media screen and (min-width: 920px) {
            width: vw(15px);
            height: vw(18px);
        }

        @media screen and (min-width: 1600px) {
            width: 15px;
            height: 18px;
        }
    }

    &__blockInput {


        margin-bottom: vw(10px, 360px);
        height: vw(44px, 360px) !important;
        font-size: vw(16px, 360px) !important;
        line-height: vw(16px, 360px) !important;

        @media screen and (min-width: 360px) {
            margin-bottom: 10px;
            height: 44px !important;
            font-size: 16px !important;
            line-height: 16px !important;
        }

        @media screen and (min-width: 500px) {
            margin-bottom: vw(10px, 360px);
            height: vw(44px, 360px) !important;
            font-size: vw(16px, 360px) !important;
            line-height: vw(16px, 360px) !important;
        }

        @media screen and (min-width: 920px) {
            margin-bottom: vw(10px);
            height: vw(44px) !important;
            font-size: vw(16px) !important;
            line-height: vw(16px) !important;
        }

        @media screen and (min-width: 1600px) {
            margin-bottom: 10px;
            height: 44px !important;
            font-size: 16px !important;
            line-height: 16px !important;
        }
    }

    &__blockSave {

        &_bgNone {
            background: none;
        }
    }
}