@import "../../styles/helpers.scss";
@import "../../styles/colors.scss";

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;

    width: 100vw;
    height: 80px;
    padding: 0px 12px;

    @media screen and (min-width: 500px) {
        height: vw(80px, 360px);
        padding: 0px vw(12px, 360px);
    }

    @media screen and (min-width: 920px) {
        width: vw(1600px);
        height: vw(128px);
        padding: 0px vw(80px);
    }

    @media screen and (min-width: 1600px) {
        width: 1600px;
        height: 128px;
        padding: 0px 80px;
    }

    &__logo {
        width: 120px;
        height: 40px;

        @media screen and (min-width: 500px) {
            width: vw(120px, 360px);
            height: vw(40px, 360px);
        }
    
        @media screen and (min-width: 920px) {
            width: vw(178px);
            height: vw(60px);
        }

        @media screen and (min-width: 1600px) {
            width: 178px;
            height: 60px;
        }
    }

    &__mobileButton {
        background: none;
        border: none;
        cursor: pointer;

        & svg {
            width: 24px;
            height: 24px;
        }

        @media screen and (min-width: 500px) {
    

            & svg {
                width: vw(24px, 360px);
                height: vw(24px, 360px);
            }
        }
    
        @media screen and (min-width: 920px) {
            display: none;
        }
    }

    &__nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow-y: auto;
        
        padding: 35px 15px;
    
        @media screen and (max-width: 920px) {
            position: fixed;
            z-index: 1;
            top: 0px;
            left: 0px;
            width: 100vw;
            height: 100vh;
            background-color: #000000;
            background-image: url("../../assets/svg/background.svg");
            transition: transform 0.3s ease-in-out;
            
            background-size: 300%;
            background-position-y: bottom;
            background-position-x: right;
            background-repeat: no-repeat;

            flex-direction: column;
    
            transform: translate3d(0px, -100vh, 0px);
    
            &_shown {
                transform: translate3d(0px, 0px, 0px);
            }
        }

        @media screen and (min-width: 500px) {
            padding: vw(35px, 360px) vw(15px, 360px);
        }
    
        @media screen and (min-width: 920px) {
            overflow: visible;
            padding: 0px;
            display: flex;
            transition: none;
            gap: vw(50px);
        }

        @media screen and (min-width: 1600px) {
            gap: 50px;
        }

        &Mobile {
            height: 80px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;

            @media screen and (min-width: 500px) {
                height: vw(80px, 360px);
                gap: vw(30px, 360px);
            }

            @media screen and (min-width: 920px) {
                display: none;
            }

            &Icon {
                background: none;
                border: none;
                cursor: pointer;

                & svg {
                    width: 24px;
                    height: 24px;

                    @media screen and (min-width: 500px) {
                        width: vw(24px, 360px);
                        height: vw(24px, 360px);
                    }
                }

                &_close {
                    margin-left: auto;
                }
            }
        }

        &Menu {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;

            @media screen and (min-width: 500px) {
                margin-bottom: vw(30px, 360px);
                gap: 0px;
            }
        
            @media screen and (min-width: 920px) {
                flex-direction: row;
                align-items: center;
                gap: vw(16px);
                margin-bottom: 0px;
            }

            @media screen and (min-width: 1600px) {
                gap: 16px;
            }
    
            &Item {
                padding: 12px 0px;

                @media screen and (min-width: 500px) {
                    padding: vw(12px, 360px) 0px;
                }
            
                @media screen and (min-width: 920px) {
                    padding: vw(10px);
                }

                @media screen and (min-width: 1600px) {
                    padding: 10px;
                }

            }
        
            &Link {
                color: $white;
                text-decoration: none;

                font-size: 24px;
                line-height: 28px;

                @media screen and (min-width: 500px) {
                    font-size: vw(24px, 360px);
                    line-height: vw(28px, 360px);
                }
            
                @media screen and (min-width: 920px) {
                    font-size: vw(16px);
                    line-height: vw(19px);
                }

                @media screen and (min-width: 1600px) {
                    font-size: 16px;
                    line-height: 19px;
                }

                &_active, &:hover {
                    color: $accent;
                }
            }
        }

        &Buttons {
            display: flex;
            flex-direction: column;
            gap: 24px;

            @media screen and (min-width: 500px) {
                gap: vw(24px, 360px);
            }
        
            @media screen and (min-width: 920px) {
                flex-direction: row;
                align-items: center;
                gap: vw(24px);
            }

            @media screen and (min-width: 1600px) {
                gap: 24px;
            }

            a {
                color: $white;
                text-decoration: none;

                font-size: 16px;
                line-height: 19px;

                @media screen and (min-width: 500px) {
                    font-size: vw(16px, 360px);
                    line-height: vw(19px, 360px);
                }
            
                @media screen and (min-width: 920px) {
                    font-size: vw(16px);
                    line-height: vw(19px);
                }

                @media screen and (min-width: 1600px) {
                    font-size: 16px;
                    line-height: 19px;
                }

            }
        }
    
        &Icon {
            display: none;

            background: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            
            @media screen and (max-width: 919px) {
                & + div {
                    display: none;
                }
            }

            @media screen and (min-width: 920px) {
                display: block;
                width: vw(24px);
                height: vw(24px);
            }

            @media screen and (min-width: 1600px) {
                width: 24px;
                height: 24px;
            }

            svg {
            
                @media screen and (min-width: 920px) {
                    width: vw(24px);
                    height: vw(24px);
                }
    
                @media screen and (min-width: 1600px) {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
    
    &__language {
        display: flex;
        
        align-items: center;
        justify-content: flex-start;
        
        @media screen and (min-width: 920px) {
            justify-content: center;
        }
    }

    &__languageIcon {
        width: vw(24px, 360px);
        height: vw(24px, 360px);

        @media screen and (min-width: 360px) {
            width: 24px;
            height: 24px;
        }
        @media screen and (min-width: 500px) {
            width: vw(24px, 360px);
            height: vw(24px, 360px);
        }
        @media screen and (min-width: 920px) {
            width: vw(24px);
            height: vw(24px);
        }
        @media screen and (min-width: 1600px) {
            width: 24px;
            height: 24px;
        }
    }

    &__languageList {
        position: absolute;
        border: solid $white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        transition: opacity 0.3s ease-in-out;
        
        transform: none;
        
        gap: vw(8px, 360px);
        padding: vw(8px, 360px);
        border-width: vw(2px, 360px);
        border-radius: vw(15px, 360px);

        transform: translate3d(vw(34px, 360px), 0px, 0px);

        @media screen and (min-width: 360px) {
            gap: 8px;
            padding: 8px;
            border-width: 2px;
            border-radius: 15px;
            
            transform: translate3d(34px, 0px, 0px);
        }
        @media screen and (min-width: 500px) {
            gap: vw(8px, 360px);
            padding: vw(8px, 360px);
            border-width: vw(2px, 360px);
            border-radius: vw(15px, 360px);

            transform: translate3d(vw(34px, 360px), 0px, 0px);
        }
        @media screen and (min-width: 920px) {
            opacity: 0;
            flex-direction: column;

            gap: vw(8px);
            padding: vw(8px);
            width: vw(48px);
            border-width: vw(2px);
            border-radius: vw(15px);
            transform: translate3d(vw(-11px), vw(-1000px), 0px);
        }
        @media screen and (min-width: 1600px) {
            gap: 8px;
            padding: 8px;
            width: 48px;
            border-width: 2px;
            border-radius: 15px;
            transform: translate3d(-11px, -1000px, 0px);
        }
    }

    &__language:hover > &__languageList {
        opacity: 1;
        
        @media screen and (min-width: 920px) {
            transform: translate3d(0px, vw(50px), 0px);
        }
        @media screen and (min-width: 1600px) {
            transform: translate3d(0px, 50px, 0px);
        }
    }
    
    &__languageListSeparator {
        border: none;
        border-top: solid $white;
        width: 100%;
        height: 0px !important;

        border-top-width: vw(2px, 360px);

        @media screen and (min-width: 360px) {
            border-top-width: 2px;
        }
        @media screen and (min-width: 500px) {
            border-top-width: vw(2px, 360px);
        }
        @media screen and (min-width: 920px) {
            border-top-width: vw(2px);
        }
        @media screen and (min-width: 1600px) {
            border-top-width: 2px;
        }
    }

    &__languageLink {


        @media screen and (min-width: 360px) {
            
        }
        @media screen and (min-width: 500px) {
            
        }
        @media screen and (min-width: 920px) {
            
        }
        @media screen and (min-width: 1600px) {
            
        }
    }

    &__walletProfile {
        border: solid $purple;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        gap: vw(4px, 360px);
        border-radius: vw(4px, 360px);
        border-width: vw(2px, 360px);
        padding: vw(4px, 360px);
        height: vw(34px, 360px);

        @media screen and (min-width: 360px) {
            gap: 4px;
            border-radius: 4px;
            border-width: 2px;
            padding: 4px;
            height: 34px;
        }

        @media screen and (min-width: 500px) {
            gap: vw(4px, 360px);
            border-radius: vw(4px, 360px);
            border-width: vw(2px, 360px);
            padding: vw(4px, 360px);
            height: vw(34px, 360px);
        }

        @media screen and (min-width: 920px) {
            gap: vw(4px);
            border-radius: vw(4px);
            border-width: vw(2px);
            padding: vw(4px);
            height: vw(34px);
        }

        @media screen and (min-width: 1600px) {
            gap: 4px;
            border-radius: 4px;
            border-width: 2px;
            padding: 4px;
            height: 34px;
        }
    }

    &__wallet {
        background: $purple;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        
        border-radius: vw(2px, 360px);
        padding: vw(2px, 360px);
        gap: vw(4px, 360px);

        @media screen and (min-width: 360px) {
            border-radius: 2px;
            padding: 2px;
            gap: 4px;
        }

        @media screen and (min-width: 500px) {
            border-radius: vw(2px, 360px);
            padding: vw(2px, 360px);
            gap: vw(4px, 360px);
        }

        @media screen and (min-width: 920px) {
            border-radius: vw(2px);
            padding: vw(2px);
            gap: vw(4px);
        }

        @media screen and (min-width: 1600px) {
            border-radius: 2px;
            padding: 2px;
            gap: 4px;
        }
    }

    &__walletNumber {
        color: $white;
        font-weight: 400;

        font-size: vw(18px, 360px);
        line-height: vw(18px, 360px);

        @media screen and (min-width: 360px) {
            font-size: 18px;
            line-height: 18px;
        }

        @media screen and (min-width: 500px) {
            font-size: vw(18px, 360px);
            line-height: vw(18px, 360px);
        }

        @media screen and (min-width: 920px) {
            font-size: vw(18px);
            line-height: vw(18px);
        }

        @media screen and (min-width: 1600px) {
            font-size: 18px;
            line-height: 18px;
        }
    }

    &__walletCopyBtn {
        background: none;
        border: none;
        cursor: pointer;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: vw(18px, 360px);
            height: vw(18px, 360px);

            @media screen and (min-width: 360px) {
                width: 18px;
                height: 18px;
            }

            @media screen and (min-width: 500px) {
                width: vw(18px, 360px);
                height: vw(18px, 360px);
            }

            @media screen and (min-width: 920px) {
                width: vw(18px);
                height: vw(18px);
            }

            @media screen and (min-width: 1600px) {
                width: 18px;
                height: 18px;
            }
        }
    }

    &__profileButton {
        @media screen and (min-width: 920px) {
            position: relative;
        }
    }

    &__dropDownMenu {
        position: absolute;
        border: solid $accent;
        background: $background;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transform: translateY(-10000px);
        transition: opacity 0.3s ease-in-out;
        z-index: 1;
        
        gap: vw(16px, 360px);
        padding: vw(30px, 360px);
        border-radius: vw(10px, 360px);
        border-width: vw(2px, 360px);
        left: vw(40px, 360px);

        @media screen and (min-width: 360px) {
            gap: 16px;
            padding: 30px;
            border-radius: 10px;
            border-width: 2px;
            left: calc(50% - 140px);
        }

        @media screen and (min-width: 500px) {
            gap: vw(16px, 360px);
            padding: vw(30px, 360px);
            border-radius: vw(10px, 360px);
            border-width: vw(2px, 360px);
            left: vw(40px, 360px);
        }

        @media screen and (min-width: 920px) {
            gap: vw(16px);
            padding: vw(30px);
            border-radius: vw(10px);
            border-width: vw(2px);
            
            right: 0px;
            left: auto;
        }

        @media screen and (min-width: 1600px) {
            gap: 16px;
            padding: 30px;
            border-radius: 10px;
            border-width: 2px;
        }


        &_shown {
            opacity: 1;
            transform: translateY(vw(20px, 360px));

            @media screen and (min-width: 360px) {
                transform: translateY(20px);
            }

            @media screen and (min-width: 500px) {
                transform: translateY(vw(20px, 360px));
            }

            @media screen and (min-width: 920px) {
                transform: translateY(vw(20px));
            }

            @media screen and (min-width: 1600px) {
                transform: translateY(20px);
            }
        }
    }

    &__dropDownMenuItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: rgba($color: $accent, $alpha: 0.3);
        text-decoration: none;
        border: none;
        transition: background 0.3s ease-in-out;

        &:hover {
            background: $accent;
        }

        gap: vw(4px, 360px);
        width: vw(220px, 360px);
        padding: vw(8px, 360px);
        border-radius: vw(4px, 360px);

        @media screen and (min-width: 360px) {
            gap: 4px;
            width: 220px;
            padding: 8px;
            border-radius: 4px;
        }

        @media screen and (min-width: 500px) {
            gap: vw(4px, 360px);
            width: vw(220px, 360px);
            padding: vw(8px, 360px);
            border-radius: vw(4px, 360px);
        }

        @media screen and (min-width: 920px) {
            gap: vw(4px);
            width: vw(220px);
            padding: vw(8px);
            border-radius: vw(4px);
        }

        @media screen and (min-width: 1600px) {
            gap: 4px;
            width: 220px;
            padding: 8px;
            border-radius: 4px;
        }
    }

    &__dropDownMenuIcon {
        width: vw(16px, 360px);
        height: vw(16px, 360px);

        @media screen and (min-width: 360px) {
            width: 16px;
            height: 16px;
        }

        @media screen and (min-width: 500px) {
            width: vw(16px, 360px);
            height: vw(16px, 360px);
        }

        @media screen and (min-width: 920px) {
            width: vw(16px);
            height: vw(16px);
        }

        @media screen and (min-width: 1600px) {
            width: 16px;
            height: 16px;
        }
    }

    &__dropDownMenuText {
        color: $white;
        text-decoration: none;

        font-size: vw(16px, 360px);
        line-height: vw(19px, 360px);

        @media screen and (min-width: 360px) {
            font-size: 16px;
            line-height: 19px;
        }

        @media screen and (min-width: 500px) {
            font-size: vw(16px, 360px);
            line-height: vw(19px, 360px);
        }

        @media screen and (min-width: 920px) {
            font-size: vw(16px);
            line-height: vw(19px);
        }

        @media screen and (min-width: 1600px) {
            font-size: 16px;
            line-height: 19px;
        }
    }
}

.hideOnMob {
    @media screen and (max-width: 919px) {
        display: none;
    }
}