@import "../../styles/helpers.scss";
@import "../../styles/colors.scss";

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;

    width: 100vw;
    height: 80px;
    padding: 0px 12px;

    @media screen and (min-width: 500px) {
        height: vw(80px, 360px);
        padding: 0px vw(12px, 360px);
    }

    @media screen and (min-width: 920px) {
        width: vw(1600px);
        height: vw(128px);
        padding: 0px vw(80px);
    }

    @media screen and (min-width: 1600px) {
        width: 1600px;
        height: 128px;
        padding: 0px 80px;
    }

    &__logo {
        width: 120px;
        height: 40px;

        @media screen and (min-width: 500px) {
            width: vw(120px, 360px);
            height: vw(40px, 360px);
        }
    
        @media screen and (min-width: 920px) {
            width: vw(178px);
            height: vw(60px);
        }

        @media screen and (min-width: 1600px) {
            width: 178px;
            height: 60px;
        }
    }

    &__mobileButton {
        background: none;
        border: none;
        cursor: pointer;

        & svg {
            width: 24px;
            height: 24px;
        }

        @media screen and (min-width: 500px) {
    

            & svg {
                width: vw(24px, 360px);
                height: vw(24px, 360px);
            }
        }
    
        @media screen and (min-width: 920px) {
            display: none;
        }
    }

    &__nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow-y: auto;
        
        padding: 35px 15px;
    
        @media screen and (max-width: 920px) {
            position: fixed;
            z-index: 1;
            top: 0px;
            left: 0px;
            width: 100vw;
            height: 100vh;
            background-color: #000000;
            background-image: url("../../assets/svg/background.svg");
            transition: transform 0.3s ease-in-out;

            flex-direction: column;
    
            transform: translate3d(0px, -100vh, 0px);
    
            &_shown {
                transform: translate3d(0px, 0px, 0px);
            }
        }

        @media screen and (min-width: 500px) {
            padding: vw(35px, 360px) vw(15px, 360px);
        }
    
        @media screen and (min-width: 920px) {
            padding: 0px;
            display: flex;
            transition: none;
            width: vw(962px);
        }

        @media screen and (min-width: 1600px) {
            width: 962px;
        }

        &Mobile {
            height: 80px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;

            @media screen and (min-width: 500px) {
                height: vw(80px, 360px);
                gap: vw(30px, 360px);
            }

            @media screen and (min-width: 920px) {
                display: none;
            }

            &Icon {
                background: none;
                border: none;
                cursor: pointer;

                & svg {
                    width: 24px;
                    height: 24px;

                    @media screen and (min-width: 500px) {
                        width: vw(24px, 360px);
                        height: vw(24px, 360px);
                    }
                }

                &_close {
                    margin-left: auto;
                }
            }
        }

        &Menu {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;

            @media screen and (min-width: 500px) {
                margin-bottom: vw(30px, 360px);
                gap: 0px;
            }
        
            @media screen and (min-width: 920px) {
                flex-direction: row;
                align-items: center;
                gap: vw(16px);
                margin-bottom: 0px;
            }

            @media screen and (min-width: 1600px) {
                gap: 16px;
            }
    
            &Item {
                padding: 12px 0px;

                @media screen and (min-width: 500px) {
                    padding: vw(12px, 360px) 0px;
                }
            
                @media screen and (min-width: 920px) {
                    padding: vw(10px);
                }

                @media screen and (min-width: 1600px) {
                    padding: 10px;
                }

            }
        
            &Link {
                color: $white;
                text-decoration: none;

                font-size: 24px;
                line-height: 28px;

                @media screen and (min-width: 500px) {
                    font-size: vw(24px, 360px);
                    line-height: vw(28px, 360px);
                }
            
                @media screen and (min-width: 920px) {
                    font-size: vw(16px);
                    line-height: vw(19px);
                }

                @media screen and (min-width: 1600px) {
                    font-size: 16px;
                    line-height: 19px;
                }

                &_active, &:hover {
                    color: $accent;
                }
            }
        }

        &Buttons {
            display: flex;
            flex-direction: column;
            gap: 24px;

            @media screen and (min-width: 500px) {
                gap: vw(24px, 360px);
            }
        
            @media screen and (min-width: 920px) {
                flex-direction: row;
                align-items: center;
                gap: vw(24px);
            }

            @media screen and (min-width: 1600px) {
                gap: 24px;
            }

            a {
                color: $white;
                text-decoration: none;

                font-size: 16px;
                line-height: 19px;

                @media screen and (min-width: 500px) {
                    font-size: vw(16px, 360px);
                    line-height: vw(19px, 360px);
                }
            
                @media screen and (min-width: 920px) {
                    font-size: vw(16px);
                    line-height: vw(19px);
                }

                @media screen and (min-width: 1600px) {
                    font-size: 16px;
                    line-height: 19px;
                }

            }
        }
    
        &Icon {
            display: none;
        
            @media screen and (min-width: 920px) {
                display: block;
                width: vw(24px);
                height: vw(24px);
            }

            @media screen and (min-width: 1600px) {
                width: 24px;
                height: 24px;
            }

            svg {
            
                @media screen and (min-width: 920px) {
                    width: vw(24px);
                    height: vw(24px);
                }
    
                @media screen and (min-width: 1600px) {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}