@import "../../styles/colors.scss";
@import "../../styles/helpers.scss";

.button_link {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: vw(8px, 360px) vw(16px, 360px);

   border: 1px solid $button-link-border;
   border-radius: vw(8px, 360px);

   font-family: Rubik;
   font-size: vw(16px, 360px);
   font-weight: 400;
   line-height: vw(19px, 360px);
   letter-spacing: 0em;
   text-align: center;

   text-decoration: none;

   color: $white;

   @media screen and (min-width: 414px) {
      font-size: vw(16px, 414px);
      line-height: vw(19px, 414px);
      border-radius: vw(8px, 414px);
      padding: vw(8px, 414px) vw(16px, 414px);
   }

   @media screen and (min-width: 920px) {
      padding: vw(8px) vw(16px);
      border-radius: vw(8px);
      font-size: vw(16px);
      line-height: vw(19px);
   }

   @media screen and (min-width: 1600px) {
      padding: 8px 16px;
      border-radius: 8px;
      font-size: 16px;
      line-height: 19px;
   }
}
