@import "../../styles/helpers.scss";
@import "../../styles/colors.scss";

.footer {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: stretch;
   justify-content: flex-start;

   padding: 27px 0px 40px 0px;

   @media screen and (min-width: 500px) {
      padding: vw(30px, 414px) vw(28px, 414px);
      gap: vw(16px, 414px);
   }

   @media screen and (min-width: 920px) {
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: space-between;

      padding: 0px;
      padding: 0px 15px;
      padding-bottom: 100px;

      width: 100%;
   }

   @media screen and (min-width: 1280px) {
      width: vw(1440px, 1525px);
      margin: 0px auto;
   }

   @media screen and (min-width: 1600px) {
      width: 1440px;
   }

   &__title {
      font-family: Rubik;
      font-size: 16px;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 10px;

      color: $footer-text;

      @media screen and (min-width: 500px) {
         font-size: vw(16px, 414px);
         line-height: vw(17px, 414px);
         margin-bottom: vw(16px, 414px);
      }

      @media screen and (min-width: 920px) {
         font-size: 16px;
         line-height: 17px;
         margin-bottom: 10px;
      }

      @media screen and (min-width: 1600px) {
         font-size: 16px;
         line-height: 17px;
         margin-bottom: 10px;
      }
   }
}

.column,
.asside {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: flex-start;

   min-width: 100%;

   @media screen and (min-width: 920px) {
      min-width: auto;
      align-items: flex-start;
      max-width: 478px;
   }

   @media screen and (min-width: 1600px) {
      max-width: 478px;
   }

   &__group {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;

      padding: 0px 15px;

      width: 100%;
      @media screen and (min-width: 500px) {
         padding: 0px vw(15px, 414px);
      }

      @media screen and (min-width: 920px) {
         padding: 0px 15px;
         max-width: 478px;
         justify-content: flex-start;
         align-items: flex-start;
         flex-direction: row;
      }

      @media screen and (min-width: 1600px) {
         padding: 0px 15px;
      }
   }
}

.asside {
   @media screen and (min-width: 920px) {
      flex-direction: row;
      max-width: none;
      width: 50%;
      justify-content: flex-end;
   }
}

// .description {
//    padding: 0px vw(15px, 360px);
//    margin-bottom: vw(24px, 360px);

//    @media screen and (min-width: 414px) {
//       padding: 0px vw(15px, 414px);
//       margin-bottom: vw(24px, 414px);
//    }

//    @media screen and (min-width: 920px) {
//       padding: 0px 0px;
//       margin-bottom: vw(40px);
//    }

//    @media screen and (min-width: 1600px) {
//       margin-bottom: 40px;
//    }

//    &__text {
//       font-family: Rubik;
//       font-size: vw(14px, 360px);
//       font-weight: 400;
//       line-height: vw(24px, 360px);
//       letter-spacing: 0em;
//       text-align: center;
//       color: $footer-text;

//       @media screen and (min-width: 414px) {
//          font-size: vw(14px, 414px);
//          line-height: vw(24px, 414px);
//       }

//       @media screen and (min-width: 920px) {
//          font-size: vw(16px);
//          line-height: vw(24px);
//          text-align: left;
//       }

//       @media screen and (min-width: 1600px) {
//          font-size: 16px;
//          line-height: 24px;
//       }
//    }
// }

.socials_list {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   margin: 24px 0px 39px 0px;
   gap: 16px;

   @media screen and (min-width: 500px) {
      gap: vw(16px, 414px);
   }

   @media screen and (min-width: 920px) {
      gap: 16px;
      margin: 40px 0px 39px 0px;
   }

   @media screen and (min-width: 1600px) {
      gap: 16px;
   }

   .social {
      box-sizing: border-box;
      padding: 4px;
      width: 37px;
      height: 35px;
      background-color: #374151;
      svg {
         @media screen and (min-width: 500px) {
            width: 100%;
            height: auto;
         }

         @media screen and (min-width: 920px) {
            width: 100%;
            height: auto;
         }

         @media screen and (min-width: 1600px) {
            width: 100%;
            height: auto;
         }
      }
   }
}

.navigation,
.community {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: nowrap;
   justify-content: center;
   margin-bottom: 15px;

   width: 100%;
   max-width: none;

   @media screen and (min-width: 920px) {
      align-items: flex-start;
      justify-content: flex-start;
      width: vw(239px);
   }

   @media screen and (min-width: 1600px) {
      width: 239px;
   }
}

.links_list {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   list-style: none;
   gap: 17px;

   width: 100%;

   @media screen and (min-width: 500px) {
      gap: vw(17px, 414px);
   }

   @media screen and (min-width: 920px) {
      gap: 17px;
   }

   @media screen and (min-width: 1600px) {
      gap: 17px;
   }

   &__item {
      width: 100%;
      text-align: center;

      @media screen and (min-width: 920px) {
         text-align: left;
      }
   }

   &__link {
      font-family: Rubik;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;

      color: $white;

      text-decoration: none;

      cursor: pointer;

      @media screen and (min-width: 500px) {
         font-size: vw(16px, 414px);
         line-height: vw(19px, 414px);
      }

      @media screen and (min-width: 920px) {
         font-size: 16px;
         line-height: 19px;
      }

      @media screen and (min-width: 1600px) {
         font-size: 16px;
         line-height: 19px;
      }

      &_active {
         color: $accent;
         text-decoration: none;
      }

      &:hover {
         color: $accent;
         text-decoration: underline;
      }
   }
}

.audit {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   height: auto;

   padding: 0px 15px;
   margin-bottom: 15px;

   @media screen and (min-width: 500px) {
      width: vw(290px, 414px);
   }

   @media screen and (min-width: 920px) {
      width: auto;
      justify-content: flex-start;
      align-items: flex-start;
   }

   @media screen and (min-width: 1600px) {
      width: 290px;
   }

   &__link {
      img {
         width: 100%;
         height: auto;

         @media screen and (min-width: 500px) {
            width: vw(290px, 414px);
         }

         @media screen and (min-width: 920px) {
            width: vw(214px);
         }

         @media screen and (min-width: 1600px) {
            width: 214px;
         }
      }
   }
}

.font_fix {
   font-size: 16px;
   padding: 8px 16px;
   height: auto;
   border-width: 2px;
}

.link_list_fix {
   gap: 10px;
}
