@import "../../styles/helpers.scss";
@import "../../styles/colors.scss";

.table {
   display: grid;
   grid-template-rows: repeat(2, auto);
   grid-template-columns: vw(1400px, 360px);
   row-gap: vw(18px, 360px);
   overflow-x: scroll;
   /* Chrome, Edge, and Safari */
   &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
   }

   &::-webkit-scrollbar-track {
      background: #0e0e0e00;
   }

   &::-webkit-scrollbar-thumb {
      background-color: $accent;
      border-radius: 8px;
      border: 3px solid $background;
   }

   @media screen and (min-width: 360px) {
      grid-template-columns: 1400px;
      row-gap: 18px;
   }

   @media screen and (min-width: 500px) {
      grid-template-columns: vw(1400px, 360px);
      row-gap: vw(18px, 360px);
   }

   @media screen and (min-width: 920px) {
      grid-template-columns: vw(1400px);
      row-gap: vw(18px);
   }

   @media screen and (min-width: 1600px) {
      grid-template-columns: 1400px;
      row-gap: 18px;
   }

   &__row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(vw(60px, 360px), 1fr));
      grid-template-rows: vw(54px, 360px);

      align-items: center;
      justify-items: start;

      background: #0e0e0e;
      border: vw(2px, 360px) solid #cd3ed0;
      border-radius: vw(10px, 360px);
      color: $white;

      @media screen and (min-width: 360px) {
         grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
         grid-template-rows: 54px;

         background: #0e0e0e;
         border: 2px solid #cd3ed0;
         border-radius: 10px;
      }

      @media screen and (min-width: 500px) {
         grid-template-columns: repeat(auto-fit, minmax(vw(60px, 360px), 1fr));
         grid-template-rows: vw(54px, 360px);
         border: vw(2px, 360px) solid #cd3ed0;
         border-radius: vw(10px, 360px);
      }

      @media screen and (min-width: 920px) {
         grid-template-columns: repeat(auto-fit, minmax(vw(40px), 1fr));
         grid-template-rows: vw(54px);
         border: vw(2px) solid #cd3ed0;
         border-radius: vw(10px);
      }

      @media screen and (min-width: 1600px) {
         grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
         grid-template-rows: 54px;
         border: 2px solid #cd3ed0;
         border-radius: 10px;
      }

      div {
         &:last-child {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
         }
      }

      &_names {
         background: transparent;
         border: none;

         div {
            span {
               font-family: Rubik;
               font-weight: 600;
               letter-spacing: 0em;
               text-align: left;

               font-size: vw(18px, 360px);
               line-height: vw(18px, 360px);

               @media screen and (min-width: 360px) {
                  font-size: 18px;
                  line-height: 18px;
               }

               @media screen and (min-width: 500px) {
                  font-size: vw(18px, 360px);
                  line-height: vw(18px, 360px);
               }

               @media screen and (min-width: 920px) {
                  font-size: vw(18px);
                  line-height: vw(18px);
               }

               @media screen and (min-width: 1600px) {
                  font-size: 18px;
                  line-height: 18px;
               }
            }
         }

         div {
            &:last-child {
               width: 100%;
               height: 100%;
               display: flex;
               flex-direction: row;
               flex-wrap: nowrap;
               align-items: center;
               justify-content: center;
            }

            &:first-child {
               padding-left: vw(50px, 360px);

               @media screen and (min-width: 360px) {
                  padding-left: 50px;
               }

               @media screen and (min-width: 500px) {
                  padding-left: vw(50px, 360px);
               }

               @media screen and (min-width: 920px) {
                  padding-left: vw(50px);
               }

               @media screen and (min-width: 1600px) {
                  padding-left: 50px;
               }
            }
         }
      }
   }

   &__cel {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      gap: vw(8px, 360px);

      font-family: Rubik;
      font-weight: 400;
      letter-spacing: 0em;
      text-align: left;

      font-size: vw(18px, 360px);
      line-height: vw(18px, 360px);

      // &_children {
      //    margin-left: -20%;
      // }

      @media screen and (min-width: 360px) {
         gap: 8px;
         font-size: 18px;
         line-height: 18px;
      }

      @media screen and (min-width: 500px) {
         gap: vw(8px, 360px);
         font-size: vw(18px, 360px);
         line-height: vw(18px, 360px);
      }

      @media screen and (min-width: 920px) {
         gap: vw(8px);
         font-size: vw(18px);
         line-height: vw(18px);
      }

      @media screen and (min-width: 1600px) {
         gap: 8px;
         font-size: 18px;
         line-height: 18px;
      }

      img {
         width: vw(32px, 360px);
         height: vw(32px, 360px);
         margin-left: vw(11px, 360px);

         @media screen and (min-width: 360px) {
            width: 32px;
            height: 32px;
            margin-left: 11px;
         }

         @media screen and (min-width: 500px) {
            width: vw(32px, 360px);
            height: vw(32px, 360px);
            margin-left: vw(11px, 360px);
         }

         @media screen and (min-width: 920px) {
            width: vw(32px);
            height: vw(32px);
            margin-left: vw(11px);
         }

         @media screen and (min-width: 1600px) {
            width: 32px;
            height: 32px;
            margin-left: 11px;
         }
      }
   }

   &__children {
      display: grid;
      grid-template-rows: auto;
      row-gap: vw(16px, 360px);

      padding-top: vw(16px, 360px);
      padding-left: vw(50px, 360px);

      @media screen and (min-width: 360px) {
         row-gap: 16px;
         padding-top: 16px;
         padding-left: 50px;
      }

      @media screen and (min-width: 500px) {
         row-gap: vw(16px, 360px);
         padding-top: vw(16px, 360px);
         padding-left: vw(50px, 360px);
      }

      @media screen and (min-width: 920px) {
         row-gap: vw(16px);
         padding-top: vw(16px);
         padding-left: vw(50px);
      }

      @media screen and (min-width: 1600px) {
         row-gap: 16px;
         padding-top: 16px;
         padding-left: 50px;
      }
   }
}
