@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./styles/colors.scss";

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: Rubik, sans-serif;
}

body {
   background: #000000;
   width: 100vw;
   min-height: 100vh;
   overflow-x: hidden;

   @media screen and (min-width: 920px) {
      background-image: url("./assets/svg/background.svg");
      background-position: center bottom;
      background-size: cover;
      background-repeat: no-repeat;
   }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
   scrollbar-width: thin;
   scrollbar-color: &accent $background;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
   width: 12px;
}

*::-webkit-scrollbar-track {
   background: $background;
}

*::-webkit-scrollbar-thumb {
   background-color: $accent;
   border-radius: 12px;
   border: 3px solid $background;
}
