@import "../../styles/colors.scss";
@import "../../styles/helpers.scss";

.progressbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: vw(8px, 360px);

    @media screen and (min-width: 360px) {
        gap: 8px;
    }

    @media screen and (min-width: 500px) {
        gap: vw(8px, 360px);
    }

    @media screen and (min-width: 920px) {
        gap: vw(4px);
    }

    @media screen and (min-width: 1600px) {
        gap: 4px;
    }

    &__percents {
        font-weight: 600;
        color: $accent;
    
        font-size: vw(14px, 360px);
        line-height: vw(17px, 360px);

        @media screen and (min-width: 360px) {
            font-size: 14px;
            line-height: 17px;
        }

        @media screen and (min-width: 500px) {
            font-size: vw(14px, 360px);
            line-height: vw(17px, 360px);
        }

        @media screen and (min-width: 920px) {
            font-size: vw(14px);
            line-height: vw(17px);
        }
    
        @media screen and (min-width: 1600px) {
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__wrapper {
        background-color: rgba($color: #D9D9D9, $alpha: 0.1);
        width: 100%;
        overflow: hidden;

        height: vw(12px, 360px);
        border-radius: vw(4px, 360px);

        @media screen and (min-width: 360px) {
            height: 12px;
            border-radius: 4px;
        }

        @media screen and (min-width: 500px) {
            height: vw(12px, 360px);
            border-radius: vw(4px, 360px);
        }

        @media screen and (min-width: 920px) {
            height: vw(12px);
            border-radius: vw(4px);
        }
    
        @media screen and (min-width: 1600px) {
            height: 12px;
            border-radius: 4px;
        }
    }

    &__bar {
        background: $gradient;
        width: 100%;
        height: 100%;
        transition: max-width 0.3s ease-in-out;
    }
}