@import "../../styles/helpers.scss";
@import "../../styles/colors.scss";

.my_project {
   &__layout {
      display: flex;
      flex-direction: column;

      overflow-x: scroll;

      width: 100%;

      margin-bottom: vw(87px, 360px);

      @media screen and (min-width: 414px) {
         margin-bottom: vw(87px, 414px);
      }

      @media screen and (min-width: 920px) {
         margin-bottom: vw(87px);
      }

      @media screen and (min-width: 1600px) {
         margin-bottom: 87px;
      }
   }
}

.table {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: vw(24px, 360px) 1fr;
   grid-row-gap: vw(18px, 360px);

   width: 1400px;

   @media screen and (min-width: 414px) {
      grid-template-rows: vw(24px, 414px) 1fr;
      grid-row-gap: vw(18px, 414px);
   }

   @media screen and (min-width: 920px) {
      grid-template-rows: vw(24px) 1fr;
      grid-row-gap: vw(18px);
   }

   @media screen and (min-width: 1600px) {
      grid-template-rows: 24px 1fr;
      grid-row-gap: 18px;
   }

   &__header {
      display: grid;
      grid-template-columns: repeat(6, 1fr) 97px;
      grid-template-rows: auto;
      grid-column-gap: 0px;
      padding: 0px vw(18px, 360px);

      @media screen and (min-width: 414px) {
         padding: 0px vw(18px, 414px);
      }

      @media screen and (min-width: 920px) {
         padding: 0px vw(18px);
      }

      @media screen and (min-width: 1600px) {
         padding: 0px 18px;
      }
   }

   &__title {
      font-family: Rubik;
      font-size: vw(18px, 360px);
      font-weight: 600;
      line-height: vw(18px, 360px);
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;

      color: $white;

      @media screen and (min-width: 414px) {
         font-size: vw(18px, 414px);
         line-height: vw(18px, 414px);
      }

      @media screen and (min-width: 920px) {
         font-size: vw(18px);
         line-height: vw(18px);
      }

      @media screen and (min-width: 1600px) {
         font-size: 18px;
         line-height: 18px;
      }
   }

   &__body {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, vw(54px, 360px));
      grid-column-gap: 0px;
      grid-row-gap: vw(16px, 360px);

      @media screen and (min-width: 414px) {
         grid-template-rows: repeat(4, vw(54px, 414px));
         grid-row-gap: vw(16px, 414px);
      }

      @media screen and (min-width: 920px) {
         grid-template-rows: repeat(4, vw(54px));
         grid-row-gap: vw(16px);
      }

      @media screen and (min-width: 1600px) {
         grid-template-rows: repeat(4, 54px);
         grid-row-gap: 16px;
      }
   }

   &__row {
      display: grid;
      grid-template-columns: repeat(6, 1fr) 97px;
      grid-template-rows: vw(54px, 360px);
      grid-column-gap: 0px;
      grid-row-gap: vw(16px, 360px);
      align-items: center;

      border: 2px solid $accent;
      border-radius: vw(10px, 360px);
      background: $background;
      padding: 0px vw(18px, 360px);

      @media screen and (min-width: 414px) {
         grid-template-rows: vw(54px, 414px);
         grid-row-gap: vw(16px, 414px);
         border-radius: vw(10px, 414px);
         padding: 0px vw(18px, 414px);
      }

      @media screen and (min-width: 920px) {
         grid-template-rows: vw(54px);
         grid-row-gap: vw(16px);
         border-radius: vw(10px);
         padding: 0px vw(18px);
      }

      @media screen and (min-width: 1600px) {
         grid-template-rows: 54px;
         grid-row-gap: 16px;
         border-radius: 10px;
         padding: 0px 18px;
      }

      span {
         font-family: Rubik;
         font-size: vw(18px, 360px);
         font-weight: 400;
         line-height: vw(18px, 360px);
         letter-spacing: 0em;
         text-align: left;
         text-transform: uppercase;

         color: $white;

         @media screen and (min-width: 414px) {
            font-size: vw(18px, 414px);
            line-height: vw(18px, 414px);
         }

         @media screen and (min-width: 920px) {
            font-size: vw(18px);
            line-height: vw(18px);
         }

         @media screen and (min-width: 1600px) {
            font-size: 18px;
            line-height: 18px;
         }
      }
   }
}
