@import "../../styles/helpers.scss";
@import "../../styles/colors.scss";

.my_project {
   &__layout {
      display: flex;
      flex-direction: column;
      width: 100vw;

      margin: 0px vw(-12px, 360px);
      padding: 0px vw(12px, 360px);
      padding-bottom: vw(24px, 360px);
      margin-bottom: vw(40px, 360px);

      /* ===== Scrollbar CSS ===== */
      /* Firefox */

      overflow-x: scroll;
      scrollbar-width: thin;
      scrollbar-color: $accent $background;

      /* Chrome, Edge, and Safari */
      &::-webkit-scrollbar {
         width: 8px;
         height: 8px;
      }

      &::-webkit-scrollbar-track {
         background: #0e0e0e00;
      }

      &::-webkit-scrollbar-thumb {
         background-color: $accent;
         border-radius: 8px;
         border: 3px solid $background;
      }

      @media screen and (min-width: 360px) {
         margin: 0px -12px;
         padding: 0px 12px;
         padding-bottom: 24px;
         margin-bottom: 40px;
      }

      @media screen and (min-width: 500px) {
         margin: 0px vw(-12px, 360px);
         padding: 0px vw(12px, 360px);
         padding-bottom: vw(24px, 360px);
         margin-bottom: vw(40px, 360px);
      }

      @media screen and (min-width: 920px) {
         margin: 0px;
         padding: 0px;
         margin-bottom: vw(40px);
         padding-bottom: vw(24px);
      }

      @media screen and (min-width: 1600px) {
         margin-bottom: 40px;
         padding-bottom: 24px;
         width: 1400px;
      }
   }
}

.table {
   display: grid;
   grid-template-columns: 1fr;
   width: 1440px;

   grid-template-rows: vw(24px, 360px) 1fr;
   grid-row-gap: vw(18px, 360px);

   @media screen and (min-width: 360px) {
      grid-template-rows: 24px 1fr;
      grid-row-gap: 18px;
   }

   @media screen and (min-width: 500px) {
      grid-template-rows: vw(24px, 360px) 1fr;
      grid-row-gap: vw(18px, 360px);
   }

   @media screen and (min-width: 920px) {
      grid-template-rows: vw(24px) 1fr;
      grid-row-gap: vw(18px);
      width: vw(1400px);
   }

   @media screen and (min-width: 1600px) {
      grid-template-rows: 24px 1fr;
      grid-row-gap: 18px;
      width: 1400px;
   }

   &__header {
      display: grid;
      grid-template-rows: auto;
      grid-column-gap: 0px;

      grid-template-columns: repeat(5, 0.9fr) 1fr vw(70px, 360px);
      padding: 0px vw(18px, 360px);

      @media screen and (min-width: 360px) {
         grid-template-columns: repeat(5, 0.9fr) 1fr 70px;
         padding: 0px 18px;
      }

      @media screen and (min-width: 500px) {
         grid-template-columns: repeat(5, 0.9fr) 1fr vw(70px, 360px);
         padding: 0px vw(18px, 360px);
      }

      @media screen and (min-width: 920px) {
         padding: 0px vw(18px);
         grid-template-columns: repeat(5, 0.9fr) 1fr vw(70px);
      }

      @media screen and (min-width: 1600px) {
         padding: 0px 18px;
         grid-template-columns: repeat(5, 0.9fr) 1fr 70px;
      }
   }

   &__title {
      font-family: Rubik;
      font-weight: 600;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;

      color: $white;
      
      font-size: vw(18px, 360px);
      line-height: vw(18px, 360px);

      @media screen and (min-width: 360px) {
         font-size: 18px;
         line-height: 18px;
      }

      @media screen and (min-width: 500px) {
         font-size: vw(18px, 360px);
         line-height: vw(18px, 360px);
      }

      @media screen and (min-width: 920px) {
         font-size: vw(18px);
         line-height: vw(18px);
      }

      @media screen and (min-width: 1600px) {
         font-size: 18px;
         line-height: 18px;
      }
   }

   &__body {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 0px;

      grid-template-rows: repeat(4, vw(54px, 360px));
      grid-row-gap: vw(16px, 360px);

      @media screen and (min-width: 360px) {
         grid-template-rows: repeat(4, 54px);
         grid-row-gap: 16px;
      }

      @media screen and (min-width: 500px) {
         grid-template-rows: repeat(4, vw(54px, 360px));
         grid-row-gap: vw(16px, 360px);
      }

      @media screen and (min-width: 920px) {
         grid-template-rows: repeat(4, vw(54px));
         grid-row-gap: vw(16px);
      }

      @media screen and (min-width: 1600px) {
         grid-template-rows: repeat(4, 54px);
         grid-row-gap: 16px;
      }
   }

   &__row {
      display: grid;
      grid-column-gap: 0px;
      align-items: center;

      border: 2px solid $accent;
      background: $background;
      
      grid-template-columns: repeat(5, 0.9fr) 1fr vw(70px, 360px);
      grid-template-rows: vw(54px, 360px);
      grid-row-gap: vw(16px, 360px);
      border-radius: vw(10px, 360px);
      padding: 0px vw(18px, 360px);

      @media screen and (min-width: 360px) {
         grid-template-columns: repeat(5, 0.9fr) 1fr 70px;
         grid-template-rows: 54px;
         grid-row-gap: 16px;
         border-radius: 10px;
         padding: 0px 18px;
      }

      @media screen and (min-width: 500px) {
         grid-template-columns: repeat(5, 0.9fr) 1fr vw(70px, 360px);
         grid-template-rows: vw(54px, 360px);
         grid-row-gap: vw(16px, 360px);
         border-radius: vw(10px, 360px);
         padding: 0px vw(18px, 360px);
      }

      @media screen and (min-width: 920px) {
         grid-template-rows: vw(54px);
         grid-row-gap: vw(16px);
         border-radius: vw(10px);
         padding: 0px vw(18px);
         grid-template-columns: repeat(5, 0.9fr) 1fr vw(70px);
      }

      @media screen and (min-width: 1600px) {
         grid-template-rows: 54px;
         grid-row-gap: 16px;
         border-radius: 10px;
         padding: 0px 18px;
         grid-template-columns: repeat(5, 0.9fr) 1fr 70px;
      }

      span {
         font-family: Rubik;
         font-weight: 400;
         letter-spacing: 0em;
         text-align: left;
         text-transform: capitalize;

         color: $white;
         
         font-size: vw(18px, 360px);
         line-height: vw(18px, 360px);

         a {
            text-decoration-line: underline;
            color: $accent;
         }

         @media screen and (min-width: 360px) {
            font-size: 18px;
            line-height: 18px;
         }
   
         @media screen and (min-width: 500px) {
            font-size: vw(18px, 360px);
            line-height: vw(18px, 360px);
         }
   
         @media screen and (min-width: 920px) {
            font-size: vw(18px);
            line-height: vw(18px);
         }

         @media screen and (min-width: 1600px) {
            font-size: 18px;
            line-height: 18px;
         }
      }
   }

   &__cel {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;

      gap: vw(4px, 360px);

      @media screen and (min-width: 360px) {
         gap: 4px;
      }

      @media screen and (min-width: 500px) {
         gap: vw(4px, 360px);
      }

      @media screen and (min-width: 920px) {
         gap: vw(4px);
      }

      @media screen and (min-width: 1600px) {
         gap: 4px;
      }

      img {
         object-fit: cover;
         border-radius: 100%;

         width: vw(18px, 360px);
         height: vw(18px, 360px);

         @media screen and (min-width: 360px) {
            width: 18px;
            height: 18px;
         }
   
         @media screen and (min-width: 500px) {
            width: vw(18px, 360px);
            height: vw(18px, 360px);
         }
   
         @media screen and (min-width: 920px) {
            width: vw(18px);
            height: vw(18px);
         }

         @media screen and (min-width: 1600px) {
            width: 18px;
            height: 18px;
         }
      }

      span {
         font-family: Rubik;
         font-weight: 400;
         letter-spacing: 0em;
         text-align: left;
         text-transform: uppercase;

         color: $white;

         font-size: vw(18px, 360px);
         line-height: vw(18px, 360px);

         @media screen and (min-width: 360px) {
            font-size: 18px;
            line-height: 18px;
         }
   
         @media screen and (min-width: 500px) {
            font-size: vw(18px, 360px);
            line-height: vw(18px, 360px);
         }
   
         @media screen and (min-width: 920px) {
            font-size: vw(18px);
            line-height: vw(18px);
         }

         @media screen and (min-width: 1600px) {
            font-size: 18px;
            line-height: 18px;
         }
      }
   }
}
