@import "../../styles/helpers.scss";
@import "../../styles/colors.scss";

.my_project {
   &__layout {
      display: flex;
      flex-direction: column;
      width: 100vw;

      margin: 0px vw(-12px, 360px);
      padding: 0px vw(12px, 360px);
      padding-bottom: vw(24px, 360px);
      margin-bottom: vw(40px, 360px);

      /* ===== Scrollbar CSS ===== */
      /* Firefox */

      scrollbar-width: thin;
      scrollbar-color: $accent $background;

      /* Chrome, Edge, and Safari */
      &::-webkit-scrollbar {
         width: 8px;
         height: 8px;
      }

      &::-webkit-scrollbar-track {
         background: #0e0e0e00;
      }

      &::-webkit-scrollbar-thumb {
         background-color: $accent;
         border-radius: 8px;
         border: 3px solid $background;
      }

      @media screen and (min-width: 360px) {
         margin: 0px -12px;
         padding: 0px 12px;
         padding-bottom: 24px;
         margin-bottom: 40px;
      }

      @media screen and (min-width: 500px) {
         margin: 0px vw(-12px, 360px);
         padding: 0px vw(12px, 360px);
         padding-bottom: vw(24px, 360px);
         margin-bottom: vw(40px, 360px);
      }

      @media screen and (min-width: 920px) {
         margin: 0px;
         padding: 0px;
         margin-bottom: vw(40px);
         padding-bottom: vw(24px);
      }

      @media screen and (min-width: 1600px) {
         margin-bottom: 40px;
         padding-bottom: 24px;
         width: 1400px;
      }
   }
}
